[2021-04-22 05:55] webringer opened #587 "Bhyve FreeBSD guest VM: libutil.so.9"
Trying to create Bhyve FreeBSD guest VM with no luck.

uname -a
FreeBSD fb 12.2-RELEASE-p6 FreeBSD 12.2-RELEASE-p6 GENERIC  amd64

cbsd version
13.0.4

Boot from CD
cmd: env LIB9P_LOGGING=/zroot/jails/jails-system/smb/cbsd_lib9p.log /usr/bin/nice -n 1 /usr/sbin/bhyve  -c 1 -m 1073741824 -H -A -U b8198cb1-a293-11eb-bece-2c44fd828914 -s 0,hostbridge   -s 4,virtio-blk,/zroot/jails/vm/smb/dsk1.vhd,sec

[2021-04-22 07:49] olevole commented on #587
Doesn't look very good ;) Have you tried running a bhyve on this host without a wrapper? Or try:

[code]
( if there is no error with libutil, stop them via `cbsd bstop` )

Also for some reason I do not see the path to the bootloader, please check (e.g via `cbsd bconfig`) that vm has:

**vm_efi - uefi
hdd_boot_firmware - bhyve**

[2021-04-22 11:02] webringer commented on #587
Without wrapper:
`virtual machine cannot be booted`

The problem persists with path to the bootloader.

[2021-04-22 11:55] webringer commented on #587
Finally I've managed to install FreeBSD VM according this video
https://www.youtube.com/watch?v=EJLBiYj5C_M

using
`cbsd bconstruct-tui
`
command

[2021-04-22 12:11] olevole commented on #587
it would be interesting to find out how you created the virtual machine the first time, are there steps to reproduce?

[2021-04-22 12:17] webringer commented on #587
Initially using bsdconfig module as follows:

`bsdconfig cbsd`

[2021-04-22 16:47] olevole commented on #587
Well, I can't get reproduction of error. When you use dialog-based UI (bsdconfig, -tui scripts), a configuration file is created for the `cbsd bcreate` command, if you choose 'No' for 'Do you want to create vm immediately?'.

If you can get a configuration file leading to an error, I can check behavior. There are a large number of options to create VM in CBSD,e.g:

1) `cbsd bcreate jname=ttt vm_os

[2021-04-22 16:47] #587 closed

[2021-04-22 16:55] olevole commented on #586
I think I completely forgot about the existence of this script and was going to remove it ;-)
@goligo How comfortable for you such a dialog for the creation of containers?
It seems that there are more convenient options, e.g:

[code]

or via CBSDfile:
[code]
 and:
 **cbsd up**

PS: I know that the site documentation still refers to the **jconstruct** method.

[2021-04-22 18:35] webringer commented on #587
It appears, it works via cbsd bconstruct-tui as well. All that you need is, just to upgrade the host to FreeBSD 13.0

uname -a
FreeBSD fb 13.0-RELEASE FreeBSD 13.0-RELEASE #0 releng/13.0-n244733-ea31abc261f: Fri Apr  9 04:24:09 UTC 2021     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

cbsd version
13.0.4

Thanks a lot. much appreciated

[2021-04-22 18:37] goligo commented on #586
Well, I did not discover this issue by searching for errors, but jconstruct is my preferred method to create jails. I don't do it often enough to know config parameters by heart and I don't like menus in the shell. A dialog based configuration feels most natural to me.

However, obviously it is not something I need urgently or I couldn't live without.

[2021-04-22 19:06] olevole commented on #586
I think I forgot to do include after the settings were split. Can you check https://github.com/cbsd/cbsd/commit/6f2c00ca290f8c0869fe387ff2b9b6e0560ef53f#diff-df27ad17e50ab20f0c833df12624204da19de026bea6a0ed5ac80c1af1df345cR11 ?

just add:
[code]

after
[code]

[2021-04-22 19:09] olevole commented on #586
@goligo well, I'll know that this option/script might be usefull for some users, thanks for the opinion.

[2021-04-22 19:15] olevole commented on #584
**/usr/jails/tools**  directory is no longer used by cbsd.
In all likelihood, there are some scripts that were forgotten in https://github.com/cbsd/cbsd/blob/v13.0.4/ObsoleteFiles ( list of deprecated files ).

you can delete this directory without consequences: `rm -rf /usr/jails/tools'  and re-run `cbsd initenv`

[2021-04-22 19:16] #586 closed

[2021-04-23 12:02] olevole commented on #585
Fixed, thanks!

[2021-04-23 12:02] #585 closed

[2021-04-23 12:21] olevole commented on #583
@satriani-vai Encryption always sounds very good! How do you see the implementation of this function in CBSD? CBSD does not create a pool, it creates zfs datasets for containers. Thus, the encrypted pool for the CBSD must be created earlier.

[2021-04-23 19:49] satriani-vai commented on #583
@olevole надеюсь ты не против если я перейду на русский. Так проще :smile:
Если я правильно всё понял, то для шифрования датасета создавать пул не надо.
Главное чтобы функция шифрования была активирована.
[code]
Форматы ключей: "none | raw | hex | passphrase"
Я пользуюсь passphrase. Другие не пробовал. Вот команда для создания зашифрованного датасета
[code]
Правда после каждой перезагрузки надо мо

[2021-04-24 11:00] olevole commented on #583
@satriani-vai да, похоже переключить enc можно в рантайме:
[code]

ну тогда да, zfs encription можно легко добавить как бакенд к уже имеющемуся GELI в скрипт https://www.bsdstore.ru/en/cbsd_geli.html

Надо только посмотреть, работает ли это с vol, чтобы кроме датасетов криптованны могли быть диски виртуалок.

ps: а все же, кто круче, Сатриани или Вай ? ;)

[2021-04-24 12:51] satriani-vai commented on #583
@olevole очень рад, что откликнулось.
Лично я бы предпочёл криптованный датасет перед GELI. Думаю что в плане производительности GELI даже уступает.
Надо проверить. А что касается юзабилити, так там вообще вопросов нет. Вообще 13ый релиз очень хороший, мне нравится.

Как ты думаешь, со следующей версией CBSD удастся внедрить датасет криптование? И как это примерно будет выглядеть в твоём представл

[2021-04-24 12:52] goligo commented on #584
The error I was referring to was "Error: incomplete input" in Stage 1. This seems not to be related to the /usr/jails/tools directory.

[2021-04-24 13:02] olevole commented on #583
Тоже фанат Вая, хотя у Сатриани более мягкий и изысканный звук))

Про имплементацию надо думать. Во-первых, я хочу сделать также как в GELI - одной фразой (masterphrase) будет открываться криптованный датасет, где находятся уже секреты в виде файлов. Каждый файл может раскриптовать другой криптованный датасет, который может быть датасетом как всего jail, так и отдельной точкой монтирования в jail.

[2021-04-24 14:23] olevole commented on #583
Метод с интерактивным passphrase и криптованием всего jail-ового датасета добавить было легко и уже можно проверить из git версии ( https://github.com/cbsd/cbsd/commit/daf7f72d904994eee5235d0e08a3a06f18fd0227 ).

Про другие варианты надо поразмыслить.

keyfile наверное можно безопасно ложить и на файловой системе без шифрования, если загрузка хостера происходит через PXE, когда ключи для дешифрова

[2021-04-24 15:59] satriani-vai commented on #583
Ухты... резко ты смастерил. :bowing_man: Для начала вполне годное решение :+1:  И даже более чем, я бы сказал.
Ща буду испытывать на прочность.

Согласен, это безусловно наиболее грамотный подход. Те зашифрованные папки будут указаны в конфиг файле к каждому джейлу. При этом необходимо учесть, чтобы юзер мог создавать новые криптованые папки внутри джейлов.

У меня например сервера на Hetzner и до

[2021-04-25 09:06] satriani-vai commented on #583
создал 6 jails, перегрузил сервер и запустил все jails одной командой.

[code]

После начались глюки. В командную строку ничего не вводилось, тут сразу стало ясно что активен режим ввода passphrase. После каждого ввода pasphrase выходили ошибки:
`Enter passphrase for 'zroot/ROOT/default/jail1':Key load error: Passphrase too short (min 8).`
В общем вводил больше чем количество jails, тем не менее в

[2021-04-25 09:15] satriani-vai opened #588 "ip4_addr="inherit""
Есть jails которые не должны быть доступны с интернета, но изнутри доступ к интернету необходим для обновлений, установок программ итд. Всегда использовал в таком случаи "ip4 = inherit;" в jail.conf
В CBSD команда `cbsd jset jname=jail1 ip4_addr="inherit"` по всей видимости не работает.
Что посоветуете?

FreeBSD version ( uname -a ): 13.0

CBSD version ( cbsd version ): daf7f72d904994eee5235d0e08a

[2021-04-25 09:26] olevole commented on #588
насколько я понимаю, inherit это тоже самое что 'interface=0' (disable) и в IP4_addr указать уже ранее проинициализированный за пределами CBSD IP. Но не очень понимаю какая связь между обновлениями.

Для доступа к ним, достаточно делать клетки на rfc1918 адресах и использовать NAT

[2021-04-25 09:30] olevole commented on #583
jstart по маске ( jname='*' ) форкает процессы и выполняет задачи в бекграунде, делая pwait за child процессом. Интерактивщину в таком режиме не сделать. Надо будет глянуть почему флаг интерактивности не отработал, тк криптоклетки должны были по-скип-аться

[2021-04-25 16:02] Juronski opened #589 "Linux jails"
Mandatory info for bug reports:
FreeBSD version ( uname -a ):  FreeBSD 12.2-RELEASE-p1 GENERIC  amd64
CBSD version ( cbsd version ):  13.0.4

Hi CBSD,

Thank you for the Linux Jails Profiles. Have a question about it please.

Not all changes made in a Linux jail are saved on reboot/restart jail. Is that expected behaviour?

J.

[2021-04-25 17:24] olevole commented on #589
Unfortunately, I can't comment without any details. CBSD profile uses information/scenarios from https://wiki.freebsd.org/linuxjails pages.  I also see that this page does not write anything about the autorun service. Usually Linux services are launched by SystemD. However, it does not work in Linux Jail. Perhaps other problems are also caused with the systemd. I do not know what the FreeBSD can o

[2021-04-25 19:13] Juronski commented on #589
I can give some examples. I have created a Buster Linux Jail with default (CBSD) settings. When packages are installed apt seems to forget about it after restart of the jail. After restart the installed packages are there but apt has no record of it. And after restart of Buster Jail changes made in (apt) sources.list are not saved. Also in the CentOS7 jail not all changes are saved. For example us

[2021-04-26 08:54] Juronski commented on #589
I think this has to do with the fact that when a Linux Jail is started in CBSD, CBSD applies custom skel dir template. So when a Buster Jail is started the jail populates from: /usr/jails/share/FreeBSD-jail-debian-buster-system-skel.

Is it possible to turn this off after creating the Linux Jail to see if that solves the issue?

[2021-04-26 12:11] olevole commented on #589
Yes, it seems that erroneous behavior. I'll see later why this happens every time. It should work only once

[2021-04-26 12:54] Juronski commented on #589
Ok. Thank you.

[2021-04-26 17:57] olevole commented on #584
yes, probably in this line (cmd: `env workdir=/usr/jails /usr/local/cbsd/misc/cmdboot`):

https://github.com/cbsd/cbsd/blob/v13.0.4/misc/cmdboot#L225

SQL part need for quotes:
[code]

[2021-04-26 18:08] olevole commented on #584
hope this is fixed now

[2021-04-26 18:08] #584 closed

[2021-04-27 07:26] olevole commented on #589
@Juronski Yes, for some reasons I did not check that the content already exists.
Changes ( in all **tests/00.check_distribution.sh** ) must correct wrong behavior:
[code]
But you need to remove old cache dir first: `rm -rf ~cbsd/share/FreeBSD-jail-*-system-skel` and re-run `cbsd initenv`
Let me know if the problem still remains after that.

[2021-04-27 07:26] #589 closed

[2021-04-27 10:51] Juronski commented on #589
Hi @Olevole,

The problem still remains on my side. This is what I did:

1. Copied the new FreeBSD-jail-*-system-skel from github to /usr/local/cbsd/share/FreeBSD-jail- * -system-skel
2. Removed the old /usr/jail/share/FreeBSD-jail-*-system-skel `rm -rf /usr/jail/share/FreeBSD-jail-*-system-ske`l
3. Did: `sudo cbsd initenv`
4. Started the jail (in this case Buster Jail)

Then I get:

Answer Yes (1

[2021-04-27 11:12] olevole commented on #589
It is not very clear why the check does not work for you. Look at the contents of the file:
[code]

it should match this: https://github.com/cbsd/cbsd/blob/develop/share/FreeBSD-jail-debian-buster-system-skel/tests/00.check_distribution.sh

The rewriting happens in the **customkel** call, which is executed if there is no bash inside the container:
[code]

[2021-04-27 13:26] #588 closed

[2021-04-27 13:50] Juronski commented on #589
Have redone everything according the instructions above, rebooted and now it works for the Debian Buster Jail. Do not know why it did not work before.

Thank you so much @olevole. Verry nice to have Linux Jails on CBSD.

[2021-04-27 14:22] olevole commented on #518
done

[2021-04-27 14:22] #518 closed

[2021-04-27 14:25] olevole commented on #589
I think I'll change the logic in the near future - the contrib scripts (/usr/local/cbsd/share/*) will be used by default.
And in the working directory (~cbsd/share/* ) there will be a place for custom scripts if users want to change them (custom).

[2021-04-27 16:05] Juronski commented on #589
Yes. All kind of scripts can be made for customized Linux Jails. And a way need to be found to get vnet to work from within Linux Jails. Think that can help solve general Linux Jail issues like:

`

[2021-04-27 20:32] olevole commented on #589
![deb_vnet](https://user-images.githubusercontent.com/926409/116308946-d1bf7400-a7b0-11eb-9c08-47fd2967c73e.png)

@Juronski do you mean that you cannot set the IP address inside the **vnet** container?
i started refactoring linux container support and the latest github CBSD version ready for debian buster. Also vnet-based jails created successful

[2021-04-27 20:34] olevole commented on #589
As far as I understand, there is a issue with the Linux netlink subsystem, but via sysfs i can see my NIC:

[code]

[2021-04-27 20:37] olevole commented on #589
@Juronski I don't know anything about Linuxulator + netlink support, but it might be possible to set the address without it, for example: https://stackoverflow.com/questions/6652384/how-to-set-the-ip-address-from-c-in-linux/6652532  ;-)

I think you should go to **freebsd-emulation** maillist now.

[2021-04-27 21:17] Juronski commented on #589
@olevole yes, I can not get an IP address inside the container/jail. I get eth0 (same as you), but inside the jail I do not get the eth0 to work. Get the same result when I do `ls -la /sys/class/net/`. I go the freebsd-emulation maillist now.

Thanks again.

[2021-04-28 20:37] olevole commented on #576
please recheck with CBSD 13.0.5

[2021-04-28 20:37] #576 closed

[2021-04-28 20:39] #565 closed

[2021-04-29 21:42] olevole commented on #589
BTW, you can use native FreeBSD ioctl (eg ifconfig/route) to configure the Linux container network in vnet jail. Nevertheless, I do not understand what the virtual stack gives you in linux jail, because all utilities are highly dependent on the hard components of the Linux kernel (netlink, systemd). I recorded a funny video of how it might look (sorry, there is Russian speech): https://youtu.be/wD

[2021-05-05 08:26] mekanix opened #592 "Extra quotes around vars"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
FreeBSD thinker.meka.rs 13.0-RELEASE FreeBSD 13.0-RELEASE #0 releng/13.0-n244733-ea31abc261f: Fri Apr  9 04:24:09 UTC 2021     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ):
13.0.5

Comparing `jexec` and `cbsd jexec`
[code]
[code]
I checked, it happens with any command prefi

[2021-05-05 09:16] mekanix commented on #471
I would like to revive this ticket. So for start just to be clear, I intend to replace only docs from the old site. That being said, I don't think RSS feed is needed for docs. Maybe I'm missing something so @olevole please fill in if I'm wrong.

For building the docs, we already do that before publishing the site, so the same process can be repeated for offline usage. If that's all, we might even

[2021-05-05 13:11] mekanix commented on #592
It works with `cmd="env ASSUME_ALWAYS_YES=yes pkg bootstrap -f"`. Is cmd= way preferred?

[2021-05-05 14:02] olevole commented on #592
this casting is caused by large restriction by shell ;-(

e.g, valid jexec:

`cbsd jexec jname=test ls -la /tmp`

`cbsd jexec jname=test "ls -la /tmp; pwd; whoami;hostname"

[code]

In such cases, it is very difficult for shell tools to avoid the expansion of quotes (e.g $*  or $@ loose quotes ). Therefore, we recreate the quotes to pass them into the container.

A higher-level (C lang?) solution

[2021-05-05 14:07] mekanix commented on #592
As `cmd=...` is working, I would say it's the current work around. Should we leave it for other people looking for a solution?

[2021-05-05 16:03] Peter2121 opened #593 "Cannot create virtual NIC"
FreeBSD version ( uname -a ): FreeBSD 13.0-RELEASE
CBSD version ( cbsd version ): 13.0.5

After jexport of a jail (v.12.2) without vnet I've imported it on another host. Then I activated vnet on it. The virtual NIC was not created automatically, so I went to `jailnic          Network config >>` to create it. When I click on `A Add  Add New Virtual NIC` - nothing happens. There is an error shown sh

[2021-05-05 16:06] Peter2121 commented on #593
BTW, the file `/usr/local/cbsd/jail.subr` does not exist!

[2021-05-06 09:06] olevole commented on #593
@Peter2121 thanks, lost **;;** in case: https://github.com/cbsd/cbsd/blob/v13.0.5/share/bsdconfig/cbsd/jailnic-newnic#L131

Also jail.subr was renamed to settings-tui-jail.subr and this was not reflected in bsdconfig files.

[2021-05-06 09:06] #593 closed

[2021-05-06 09:09] olevole commented on #592
@mekanix  I think we should find all the places in the examples where we refer to the variant without quotes and fix it.

For example the current version of `cbsd jexec --help` shows the correct sample

[2021-05-06 09:12] olevole commented on #592
although I'm wrong, it `cbsd jexec jname=cbsd "env ASSUME_ALWAYS_YES=yes pkg bootstrap -f"`doesn't work ;-) I'll see what we can do here.

[2021-05-06 16:23] Tectu opened #594 "Mounting NFS share to jail not working"
FreeBSD version ( uname -a ): `13.0-RELEASE`
CBSD version ( cbsd version ): `13.0.4`

I am attempting to mount an NFS share on a CBSD host to a jail directory. However, I am running into a weird issue documented here: https://forums.freebsd.org/threads/unexpected-behavior-mounting-nfs-share-to-jail-data.80278/

As mentioned by SirDice, it's possible that CBSD works some magic here.
I would like to

[2021-05-06 18:53] olevole commented on #594
I think there are several options. First and and likely the most logical and easy is to use a local fstab file: https://www.bsdstore.ru/en/13.0.x/wf_jconfig_ssi.html#fstab.

E.g:

1) NFSv4 server-side:
[code]
vi /etc/exports:
[code]
Where **172.16.0.100** - CBSD hoster.

zfs create or `mkdir -p /nfs/myjail-data`
(don't forget for `zfs set sharenfs=on <dataset>` when ZFS)

2) CBSD hoster.

a) creat

[2021-05-06 18:57] olevole commented on #594
Another possibility - you can use an external script that will start the mount line.

And finally you can mount NFS share from jail, but you need to enable `allow.mount`. In **CBSD**:

cbsd jconfig -> jail_options -> [x] allow_mount

or

`cbsd jset jname=myjail allow_mount=1`

[2021-05-06 19:02] olevole commented on #594
By the way, I looked at your message in the forum:

^^ this is correct only when baserw=1 jail. Otherwise (baserw=0), you must mount into **path** directory:

```mount -t nfs -o nfsv4,rw 192.168.250.61:/mysare /ssd/cbsd/jails/myjail/usr/local/storage```

because the /ssd/cbsd/jails-data/myjail-data is mounted via nullfs on a read-only base in /ssd/cbsd/jails/myjail (overlays)

[2021-05-06 19:13] olevole commented on #594
@Tectu I decided to check the first scenario and found a bug. Already fixed in GIT: https://github.com/cbsd/cbsd/commit/1d90c276ac0cd6a9d37eaf71f8990dd21a62ece9

if you decide to work according to the first scenario (via fstab.local for jail) please fetch fix first:
[code]

Hope this helps

[2021-05-06 19:13] #594 closed

[2021-05-07 09:53] olevole commented on #592
Unfortunately, on the shell, there is no possibility to make the most universal handler, therefore added more examples.
Especially for **[jb]exec** script and **env**, we can try to add a separate parameter **env=** e.g:

cbsd jexec jname=xxx pwd=/tmp env="ASSUME_ALWAYS_YES=1 TRUE=FALSE" pkg bootstrap -f

 but probably it's not that many expect, POLA violation ;-)

[2021-05-07 09:53] #592 closed

[2021-05-07 10:37] olevole commented on #471
@mekanix RSS feed for docs is not required, it is only for news, and it can remain a static file.

I am concerned about the situation with the synchronization of content from the old sites to the new, since my forces are enough to maintain (and additions as the project develops) only single resource (and I do it still on the old resource, because it contains additional information).

In addition,

[2021-05-07 11:46] olevole commented on #471
I have a plan :point_up:
Since I am the only one who knows the capabilities and strengths of the project as best as possible ;), it is logical that I should write the documentation. This summer I want to revise all the documentation on site and significantly revise it by removing the old one and updating the new one. Then order a paid professional translation of the resulting book into English and

[2021-05-07 12:07] Tectu commented on #594
Thank you for your explanation & bug fixing :)
I would definitely like to use the first method you described.

It this something I can do safely? This won't interfere with upgrading to a later cbsd version via `pkg`?

[2021-05-07 12:15] olevole commented on #594
I'll try to update the ports on the weekend. Feedback is encouraged - the wider the use cases, the more stable and versatile the tool is. This is good :point_up:

[2021-05-07 12:26] Tectu commented on #594
While the mounting is working as expected, I am running into some permissions issue: I created `/usr/local/mnt/storage` in the jail. However, the owner is set to `nobody:nogroup`:
[code]
I need my `www` user and `www` group to have `rw` access on the storage.

I tried to `chmod www:www /usr/local/mnt` from within the jail but that doesn't work:
[code]
Doing this outside the jail (on the host) does

[2021-05-07 13:25] Tectu commented on #594
I might need a bit more help here...

CBSD host: `192.168.250.60`
NFS server: `192.168.250.61`

My NFS server's `/etc/exports` looks like this:
[code]
On the CBSD host: `~cbsd/jails-fstab/myjail/fstab.local`:
[code]
Inside the jail, I need `rw` access to `usr/local/mnt/storage`. However, the mounting of the NFS share happens through the CBSD host's `root` account (correct?) hence my NFS export dec

[2021-05-09 11:46] olevole commented on #556
fixed

[2021-05-09 11:46] #556 closed

[2021-05-11 16:20] Peter2121 opened #595 "Error in jstart"
FreeBSD version ( uname -a ): FreeBSD 13.0-RELEASE

CBSD version ( cbsd version ): 13.0.6

Only partial list of jails is chown in `cbsd jstart` menu:
[code]

[2021-05-11 20:52] olevole commented on #595
fixed: https://github.com/cbsd/cbsd/commit/cbb247fec67b1b20cf7195bc2e34f89633825ffe

@Peter2121  I will send the update to the ports immediately, thanks!

[2021-05-11 20:52] #595 closed

[2021-05-17 19:31] Peter2121 commented on #595
I've mentioned the problem in jstart, but your commit modifies jstop.
So, the same error is still present in the new version:

[code]

[2021-05-17 20:02] olevole commented on #595
Try to start + stop container. This should fix it, because **jstop** is update the value in state_time column.

With the previous version you should have '(strftime('%s','now'))' instead of timestamp, check this:

[code]

[2021-05-19 10:02] aeifn opened #597 "jstatus does not work properly for bhyve"
https://github.com/cbsd/cbsd/blob/937069b94a11f9ee50cd55e70211fddb7cefe320/tools/expose#L105-L106

for existing bhyve domains it returns 0, so they are not displayed in show_all_expose output

[2021-05-23 07:28] aeifn opened #598 "when destroying vm, pf record is not deleted"
pf records added by expose remains after destroying associated VM.

Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD bhyve.cloud 13.0-CURRENT FreeBSD 13.0-CURRENT #0 r368657: Tue Dec 15 22:13:30 MSK 2020     root@bhyve.cloud:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ): 12.2.6a

[2021-05-23 09:29] olevole commented on #598
this should be fixed in 13.0.1, please upgrade

[2021-05-23 09:29] #598 closed

[2021-05-24 07:43] 4xoc commented on #540
I've been using vnet with v6 and SLAAC for some time now so here're my two cents on it. Configuring everything in rc.conf after the jail has been created is the fastest when just having a new jail once in a while. `ifconfig_eth0_ipv6="inet6 accept_rtadv"` does the trick for me without need for additional tools like rtsold or any dhcpv6 client. To automate this for new jails it should be possible t

[2021-05-24 08:00] olevole commented on #540
Hmm, I think we can easily add 'sysrc' for `jcreate` script for any customization, e.g:
[code]

or something like that. need to think about how to write it more beautifully for user.

[2021-05-24 10:46] michael-o commented on #540
I would prefer cbsd not to fiddle with network config on vnet jails and leave this to the admin. I understand that cbsd fiddles on shared interaces (non-vnet).

[2021-05-24 11:40] Peter2121 commented on #540
There are use-cases where CBSD should configure VNET jails. For example, in case of multiple VNET jails, the configuration of jails default routers should be done by CBSD at the same time it configures host to get up the GW addresses. If it configures jails IP at the same time - it's even better ;)

[2021-05-24 13:52] olevole commented on #540
CBSD does not manage **ifconfig_eth0=** inside a vnet based jail when ip4_addr='0' (disabled). But yes, there are many cases where it might be necessary. For example, when there is a VPC (ipsec, vxlan, wireguard, ...) between several nodes (for example, as described here: https://www.bsdstore.ru/en/13.0.x/wf_vpc_ssi.html). In this case, all jails (bhyve) used the same/shared L2 network (vxlan), bu

[2021-05-29 14:39] olevole commented on #597
For bhyve we need 'bstatus' but I cannot understand why I was chosen 'find' + 'status' to build valid envinronments list instead of 'SELECT jname FROM ..'. Most likely this is due to the case when the container may not be registered (unregistered/sharedfs). Simplified the logic and the status became unnecessary. Thanks!

[2021-05-29 14:39] #597 closed

[2021-06-07 04:11] VVelox opened #602 "import seems to have failed and then can't do anything with the failed VM"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD nibbles1.vvelox.net 12.2-STABLE FreeBSD 12.2-STABLE stable/12-c243324-gf56d7f838f5 vixen42  amd64

CBSD version ( cbsd version ): 13.0.8

[code]

[2021-06-07 04:13] VVelox commented on #602
Both systems in questions are 13.0.8 and running the same version of FreeBSD.

Moved several others over from the other, but only ran into issues with this one.

[2021-06-07 04:25] VVelox commented on #602
Unfortunately I did not MD5 prior to importing. Just did that and I got different sums on the file on both machines.

[2021-06-07 04:34] VVelox commented on #602
So removed the files and ZFS stuff associated with the VM.

bls now atleast works. Still missing something some place though.

[code]

[2021-06-07 04:53] VVelox commented on #602
Removing entries for elk0 from '/storage/cbsd/var/db/inv.auto.sqlite' seem to have fixed it.

[code]

bls is working as expected.

[code]

[2021-06-07 05:02] VVelox commented on #602
One I missed in inv.auto.sqlite was as below.

[code]

Also needed to remove the assorted items from storage_media.sqlite.

[2021-06-07 07:55] olevole commented on #602
@VVelox What caused the problem? was it creating a new virtual machine? Or was it an import / transfer?

[2021-06-07 08:05] VVelox commented on #602
Bad transfer of the image.

Copied the file back over, check summed it, and then imported it. This time it worked.

The problem is there appears to be no way to forcefully remove a VM in a instance like this with out manually resorting to deleting stuff and editing the sqlite files.

[2021-06-07 08:09] olevole commented on #602
And how was the image was created and transmitted?

About cleaning - yes, I have long wanted clean up script for bad or incomplete records.

[2021-06-07 08:13] VVelox commented on #602
Created via cbsd export and then just transferred via SFTP.

[2021-06-07 12:19] aeifn opened #603 "blogin does not work after bexport/bimport"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD 13.0-RELEASE-p1

CBSD version ( cbsd version ): 13.0.8

[code]

---

direct ssh-ing with cbsd root key works well though

[2021-06-10 08:09] aeifn opened #609 "bcreate deletes conf file"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-RELEASE

CBSD version ( cbsd version ): 13.0.9

bcreate conf=`pwd`/some.conf
deletes conf file after creation. probably it should not, especially from non-standard path.

[2021-06-10 08:20] aeifn opened #610 "bcreate does not set vnc_password"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):  13.0-RELEASE

CBSD version ( cbsd version ): 13.0.9

bcreate does not set vnc_password, it is possible to set it only with bconfig after creation.

[2021-06-10 09:24] #609 closed

[2021-06-10 14:02] olevole commented on #540
Well, I made a small change (latest available CBSD **13.0.9**) that prevents CBSD from overwriting custom options in jail /etc/rc.conf for ifconfig_eth0. Example:

**case 1**, CBSD does not manage ifconfig_eth0 in /etc/rc.conf ( ip4_addr=0 ):
[code]

**case 2**: CBSD controls ifconfig_eth0 in /etc/rc.conf according to the ip4_addr value, but overwrites only the address, not all parameters:
[code]

[2021-06-10 14:02] #540 closed

[2021-06-11 16:36] #602 closed

[2021-06-15 08:33] gizahNL commented on #589
For my Docker port I create a freebsd vnet jail with root fs set to /, configure the network in that and then create a child jail in that jail for linux and set it up to inherit the networking.

[2021-06-15 08:42] olevole commented on #589
This is also a difficult scheme)

I just added into 'bootstrap script'  copying of '/sbin/ifconfig' and '/sbin/route' from FreeBSD host to Linux skel directory + all libs ( ldd \`which ifconfig route\` ).

[2021-06-15 08:56] gizahNL commented on #589
Yeah that also works ;) I played around as well with static compilation of ifconfig & route tools, that also worked. But it copying in files does not fit with the design philosophy of docker (but it is indeed perfectly fine for jails orchestrated via CBSD)

[2021-06-16 08:37] olevole commented on #610
it was a terrible typo, thanks

[2021-06-16 08:37] #610 closed

[2021-06-16 11:22] olevole commented on #603
This is because we do not have persistent storage for cloud-init settings except ascii file in form of ~cbsd/jails-system/<env>/rc.conf_<env>. Assuming this only works when initializing the virtual machine.

Most likely, we will need to expand the SQL settings and store CI-related information there.

As a temporary workaround, we will copy the ci-related settings through the ~cbsd/jails-system/<en

[2021-06-16 11:22] #603 closed

[2021-06-16 15:34] olevole commented on #550
I'll close, this is an extremely difficult idea to implement, since many parameters are unique for each emulator, and the benefit from this work is questionable.

[2021-06-16 15:34] #550 closed

[2021-06-20 18:04] joeshua opened #613 "Feature if could be added: https certificate for web"
1) Can the feature be added for https web rather http by default using openssl or an option between openssl and letsencrypt ?

2) can we use doas as default then sudo ?

3) No firewall after install by default or something that could be easier which could be set via web ?

Thanks for the project.

FreeBSD version ( uname -a ): 13.0-CURRENT

CBSD version ( cbsd version ):

[2021-06-20 19:36] olevole commented on #613
For **1,3** question: CBSD does not work with the WEB. Or do you mean ClonOS?
**2**: I do not know how to implement this with doas: https://github.com/cbsd/cbsd/issues/83

[2021-06-20 19:36] #613 closed

[2021-06-21 05:25] joeshua commented on #613
Yes for the web having option with openssl cert or lets encrypt but atleast default with openssl

[2021-07-04 18:03] satriani-vai commented on #583
# cbsd version
13.0.9

Попробовал в новой версии запустить джейлы по маске ( jname='*' ). Думал может ты уже нашёл решение данной проблемы, но по ходу решения пока нет. Когда джейлов немного, не велика беда, но когда джейлов больше сотни, как-то напрягает :roll_eyes: :laughing:

[2021-07-04 18:19] satriani-vai opened #615 "Does cbsd support jail backup and restore?"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD ServBSD 13.0-RELEASE-p3 FreeBSD 13.0-RELEASE-p3

CBSD version ( cbsd version ): 13.0.9

Так как форума поддержки нет, напишу здесь.
Если я правильно всё понял, то cbsd предоставляет такую возможность, создавать резервную копию те. backup джейлов и впоследствии их восстанавливать (restore).
Попробовал я и понял, что ничего я не

[2021-07-06 03:50] Artiom-M opened #616 "CBSD dependency/requirement: cc ???"
FreeBSD version ( uname -a ):
12.2-RELEASE-p7 FreeBSD 12.2-RELEASE-p7 #0 r369900M: Sun May 30 01:42:50 CEST 2021

CBSD version ( cbsd version ):  13.0.9

Installed with pkg

On init I am getting this:
[code]
Then later for
/usr/local/bin/cbsd jconstruct-tui

[code]

This is how jail directory looks like:

[code]

[2021-07-06 08:51] olevole commented on #616
It is not very clear why your system does not have 'cc'. Is this a stock install of FreeBSD?
What the command returns for you:

[code]

[2021-07-06 11:13] Artiom-M commented on #616
It is XigmaNas with full install. And there is no cc on it.
Why is this required at runtime?

[2021-07-06 12:26] olevole commented on #616
Try to remove 'cc' from /usr/local/cbsd/misc/cmdboot

https://github.com/cbsd/cbsd/blob/v13.0.9/misc/cmdboot#L73

and re-run 'env workdir=/mnt/System/jails /usr/local/cbsd/sudoexec/initenv'

[2021-07-08 01:50] Artiom-M commented on #616
After removing cc, it asks for column, then for cpio... It looks like they have removed a lot of staff.
I attach here cmdboot with all missing executables stripped off for your reference.
For me still it doesn't work, so I have found that bastille works with xigmanas and will use it.
[cmdboot_xigmanas.txt](https://github.com/cbsd/cbsd/files/6780909/cmdboot_xigmanas.txt)

[2021-07-08 02:05] olevole commented on #616
yes it looks like CSDS is not for xigma ;)
Some of the CBSD components are written in C, so a compiler is required when building from source.
CBSD checks for the presence of all external tools during the initialization phase so that there are no surprises in operation.

[2021-07-08 02:05] #616 closed

[2021-07-08 02:09] olevole commented on #615
Сначала надо обменяться ключами:

1) cbsd node mode=add node=
2) на таргет хосте иметь поднятым сервис cbsdsryncd (в rc.d )
3) дальше jrclone или вышеупомянутый jbackup  ( это пуск j2prepare и j2slave скриптов )

но если разовый перенос, то есть и проще метод:

cbsd jexport  (если клетки оч жирные, compress= аргумент регулирует степень сжатия -> скорости операции)
scp ..
cbsd jimport (на таргет хо

[2021-07-08 02:09] #615 closed

[2021-07-11 10:34] olevole commented on #527
Returning to the problem...

To play the problem, I launched a new stock FreeBSD 13.0 installation and latest CBSD from pkg:

1) my environment:
[code]
2) Enable fusefs module on boot and load in runtime:
[code]
3) Create new 'fusefs' jail with fusefs-bindfs package inside, allow_fusefs enabled:
[code]
6) mount /bin directory inside jail via bindfs to /usr/local/www
[code]
7) to check mount:
[code

[2021-07-11 10:34] #527 closed

[2021-07-11 10:40] olevole commented on #583
С маской и интерактивщиной надо подумать, как и для astart - скорее всего интерактивные клетки не запускать на автомате вовсе (ибо - а че делать то?). Таску прикрою, тк формально zfs encryption хотя бы с паролем есть, эти проблемы (и вероятно keyfile-based бы надо) сделаю в рамках другой активности

[2021-07-11 10:40] #583 closed

[2021-07-21 08:40] Peter2121 opened #617 "Cannot migrate jail to another host"
FreeBSD version ( uname -a ):
FreeBSD jails-5.reseaucloud.local 12.2-RELEASE-p4 FreeBSD 12.2-RELEASE-p4 GENERIC  amd64

CBSD version ( cbsd version ):
v.13.0.10

[code]

cbsd_sudoers on both hosts:

[code]

Log on destination host:

`Jul 21 10:33:00 erpj-2 sudo[18459]:     cbsd : user not allowed to preserve the environment ; TTY=pts/5 ; PWD=/var/empty ; USER=root ; COMMAND=/usr/local/cbsd/sudoexe

[2021-07-21 12:04] olevole commented on #617
valid sudoers cbsd_sudoers:
[code]

Please change it manually, you have a very old installation. Unfortunately there is no migration for this file.

[2021-07-21 12:46] Peter2121 commented on #617
Sorry, I don't see any difference between my file and the one you've suggested.

[2021-07-28 19:37] lattera opened #618 "Build fails on HardenedBSD 14-CURRENT/arm64"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): `FreeBSD arm64-01 14.0-CURRENT-HBSD FreeBSD 14.0-CURRENT-HBSD #0 : Wed Jul  7 19:46:31 UTC 2021     root@ci-12.md.hardenedbsd.lan:/usr/obj/usr/src/arm64.aarch64/sys/HARDENEDBSD  arm64`

CBSD version ( cbsd version ): I think 13.0.10, if I'm reading the poudriere build log correctly.

It appears that on arm64, CBSD fails to build. The l

[2021-07-28 21:31] olevole commented on #618
Hmm, **popcnttest** is not a mandatory tool for CBSD (it is mainly used to test the POPCNT instruction on x86 ( `grep POPCNT /var/run/dmesg.boot` ) when running bhyve ).

Most likely, we will be able to make a condition in pkg-plist for non x86-64. I believe this is relevant not only for HardenedBSD, but also for FreeBSD arm64

[2021-07-29 15:22] olevole commented on #618
@lattera Is there any differences in the ports framework between **HardenedBSD** and **FreeBSD**? In FreeBSD:

_/usr/ports/sysutils/cbsd/pkg-plist_:

[code]

and _/usr/ports/sysutils/cbsd/Makefile_:
[code]
this allows us to have a dynamic file list depending on the architecture.

[2021-08-04 09:46] olevole commented on #618
Waiting for comments. From the port point: it is processed. It is necessary to check the synchronization of ports and port framework in HarrendBSD

[2021-08-04 09:46] #618 closed

[2021-08-26 12:12] satriani-vai opened #620 "Проблема при обновлении"
Mandatory info for bug reports:

[code]

FreeBSD version ( uname -a ): FreeBSD ServBSD 13.0-RELEASE-p4 FreeBSD 13.0-RELEASE-p4 #0: Tue Aug 24 07:33:27 UTC 2021     root@amd64-builder.daemonology.net:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ): 13.0.13

[2021-08-28 07:56] #620 closed

[2021-08-29 15:23] satriani-vai commented on #620
Извиняюсь за запоздавший ответ.
У меня с `cbsd baseupdate` получилось.

[2021-09-03 01:29] JEAholding opened #622 "On CBSD Upgrade UNABLE to fetch VM"
FreeBSD version ( uname -a ):
Freebsd 13
13.0-RELEASE-p4 FreeBSD 13.0-RELEASE-p4

CBSD version ( cbsd version ):
13.0.13

The problem began when upgrading cbsd to the latest previously I was able to view and operate the VM...

========================================================================

env workdir="/zroot_r820_samsung1/usr/jails" cbsd initenv

After now
env workdir="/zroot_r820_samsu

[2021-09-03 06:37] olevole commented on #622
Do I understand correctly that the tables are empty? Or have you hidden the conclusion?

Can you check schema ?
[code]

to dump data:
[code]

?

[2021-09-03 07:31] olevole commented on #622
@JEAholding  It seems that the migration script overwrites a working directory from environment.

Try temporarily change the global working directory through the /etc/rc.conf file:

sysrc cbsd_workdir="/zroot_r820_samsung2/usr/jails"

and re-run `cbsd initenv`

(then change cbsd_workdir values to old value)

[2021-09-03 13:44] JEAholding commented on #622
Ok just for informational purposes.... AS your last message fix the issue no problem...

Changing rc.conf to new directory workdir. NOW question is in rc.conf I can put multiple workdir or only 1?
So if is only 1 allowed on rc.conf I have to make change every time I upgrade cbsd initenv?
I have 3 CBSD workdir in total
1 on OS HDD called it root workdir.
1 extra cbsd workdir on /zroot_r820_samsun1

[2021-09-03 14:17] olevole commented on #622
Of course this is a bug that needs to be fixed. I'll see soon. I suggested changing the global variable via /etc/rc.conf to verify my theory). At least now we know where the problem is.

With the latest update bhyve got the 'boot_delay' option (pause before bhyve domain startup (for smoothing load when host boots))  - the migration script did not use the environment variable and this led to a diff

[2021-09-03 17:20] JEAholding commented on #622
Alright, it is CONFIRM your solution is proven and cbsd upgrade/ cbsd initenv works by changing rc.conf workdir

I was able to upgrade all of the supplemental workdir (3 workdir in total via this method in rc.conf) 15 VM in TOTAL now showing in distributed workdir.

Glad I was able to assist on finding some errors, in future 5-6 month with more usage would like to look and help out under the hood.

[2021-09-03 17:53] olevole commented on #622
Yeah, please leave this Issue open. In fact, I personally switched to the use of several hosts ( as described here: https://www.bsdstore.ru/en/cbsd_api_ssi.html + IPAM as 'cbsd dhcpd' helper: https://www.bsdstore.ru/en/13.0.x/wf_ipam_ssi.html ), so multiple environments are tested little.

Thank you. Soon I will make even more bugs, I'm sure! ;-)

[2021-09-04 19:16] #622 closed

[2021-09-04 19:17] olevole commented on #622
the task with automatic migration will be done later as it is not a trivial task

[2021-09-24 15:22] namotco opened #623 "jails with multiple IPs/NICs use incorrect syntax in pfnat"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD 12.1-RELEASE FreeBSD 12.1-RELEASE r354233 GENERIC  amd64

CBSD version ( cbsd version ): 12.1.13

If the jail IPs are setup as: igb0#192.168.1.205,bxe2#10.125.200.205
Then: cbsd expose produces incorrect pf syntax in jails/etc/pfnat.cfg:

What happens:
rdr pass proto tcp from any to 10.123.45.200 port 3182 -> igb0#192.168.1.205

[2021-09-24 17:47] olevole commented on #623
@namotco Thank! If you update CBSD to the latest version (13.0.5) - try to add this via: https://github.com/cbsd/cbsd/commit/1fd9fb94520a9edfcfe662cc714f20fbd0ebe478 , e.g:

[code]

My test:

[code]

[2021-09-24 17:50] olevole commented on #623
@namotco By the way, due to the difference in versions, if you have any problems with 'cbsd jls' after upgrading CBSD 12.x -> 13.0.15, try to remove cmd.subr file and re-run `cbsd initenv` again:

[code]

[2021-09-24 17:50] #623 closed

[2021-09-28 10:12] Peter2121 commented on #617
Any news? ;)

[2021-09-28 18:38] olevole commented on #617
I cant reproduce this on my only stand.

you get an error on this command:
[code]
who does this:
[code]

secretsfile script:

https://github.com/cbsd/cbsd/blob/develop/tools/secretsfile

But why 'sudo -E' doesn't work on your system i don't understand ;-(

cbsd   ALL=(ALL) NOPASSWD:**SETENV**: CBSD_CMD
                                                     ^^^^^^^^^ should permit setenv. You probabl

[2021-09-30 23:35] olevole commented on #617
Also, try to check permission for ~cbsd/.ssh and ~cbsd/.rssh directory. Try doing this on both servers before migrating:
[code]

This is a bug (fix: https://github.com/cbsd/cbsd/commit/0fea73f4e5d0b035cd415051018a7666440dd533 ) in the recent version of the CBSD (came out after registering your problem).

I will add my how-to to reproduce the problem. Initial situation - clean installation of FreeB

[2021-09-30 23:35] #617 closed

[2021-10-12 10:27] VVelox opened #624 "Pointless variable, dsk_zfs_guid, in bhyve-nic-list"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):  FreeBSD nibbles1.vvelox.net 12.2-STABLE FreeBSD 12.2-STABLE stable/12-n232902-2225c9780af vixen42  amd64

CBSD version ( cbsd version ): 13.0.15

[code]

Unless I am missing something, this seems like a totally pointless variable to include in the list of NIC info.

Also what exactly is nic_type meant for?

[2021-10-12 20:24] olevole commented on #624
Thanks for report. Indeed, **dsk_zfs_uid** was cut/paste typo. As for nic_type, this parameter is currently not used.

[2021-10-12 20:30] #624 closed

[2021-10-13 11:49] VVelox opened #625 "bcreate inter=0 is not fully non-interactive and bstart seems to lack a choice for this"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD nibbles1.vvelox.net 12.2-STABLE FreeBSD 12.2-STABLE stable/12-n232902-2225c9780af vixen42  amd64

CBSD version ( cbsd version ): 13.0.15

So while inter=0 seems to prevent it from asking questions for bcreate, when it goes to start it up it begins asking questions.

Looking at bstart --help there does not appear to be a way to

[2021-10-13 12:55] olevole commented on #625
I will check 'inter=0' soon.

[2021-10-13 16:39] #625 closed, assigned to olevole

[2021-10-14 15:30] VVelox opened #626 "cloud-init code does not recognize ssh-ed25519 keys"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD nibbles1.vvelox.net 12.2-STABLE FreeBSD 12.2-STABLE stable/12-n232902-2225c9780af vixen42  amd64

CBSD version ( cbsd version ): 13.0.15

[code]

[2021-10-14 17:03] VVelox opened #627 "setting subnet for a interface does not possible"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD nibbles1.vvelox.net 12.2-STABLE FreeBSD 12.2-STABLE stable/12-n232902-2225c9780af vixen42  amd64

CBSD version ( cbsd version ): 13.0.15

Was just looking around it looks like it always assumes that the subnet is a /24. Just tried setting ci_ip4_addr=192.168.14.155/22 and it set it up as...

[code]

[2021-10-14 17:29] olevole commented on #626
I will close PR if the problem is solved. Refactoring of init() in long-term/todo.

[2021-10-14 17:29] #626 closed, assigned to nobody

[2021-10-14 17:34] olevole commented on #627
_// notes for myself:_
also rewrite all netmask operation to /usr/local/cbsd/misc/sipcalc
instead of shell and/or /usr/local/cbsd/tools/sbin/netmask

[2021-10-19 09:04] Peter2121 opened #634 "Jails NAT inside private network"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-RELEASE-p4

CBSD version ( cbsd version ): 13.0.15

I use VNET jails on a server, placed in a corporate network. The server has vmx0 interface with IP address 172.17.14.12/24, VNET jails are using the network 10.192.7.128/25, local gateways for jails are configured in 10.192.7.0/25. The network infrastructure is out of my control,

[2021-10-19 11:02] Peter2121 opened #635 "Create jail config file?"
I know we can use `cbsd jcreate jconf=/path/to/conf.jconf` to create a jail from a config file.
But is there any way to create such config file from an existing jail?

[2021-10-19 12:04] olevole commented on #635
Original config for jail create must exist in ~cbsd/jails-system/**ENV**/ directory as rc.conf_**ENV**

or try:
[code]

hint: best way to create lots of jail from single tpl is [CBSDfile](https://www.bsdstore.ru/en/cbsdfile.html) ;)

[2021-10-19 12:04] #635 closed, assigned to nobody

[2021-10-21 18:13] Peter2121 opened #642 "'cbsd expose mode=delete' does not work"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-RELEASE-p4

CBSD version ( cbsd version ): 13.0.15

[code]

[2021-10-22 12:38] nkosi23 commented on #128
Never heard about the cbsd project before, and just wanted to come here to say thank you. I'm shocked, but positively shocked. What you have done is huge, in particular regarding the way you have made bhyve way more approachable even at scale. Everything is so feature rich, this is a true one-stop shop enabling us to make the most of the virtualization features of FreeBSD. Thank you guys, this is

[2021-10-22 12:57] olevole commented on #128
@nkosi23 welcome :+1: we are still running ;-)

[2021-10-23 21:59] aeifn commented on #642
@olevole i will write test for expose

[2021-10-24 12:39] #642 closed, assigned to nobody

[2021-10-26 09:37] Tectu opened #647 "Clarification on cbsdd"
Could you point me towards documentation of `cbsdd`? I would like to understand it's capabilities. What does the daemon do? When is it necessary to run it? ...

[2021-10-26 10:24] olevole commented on #647
Currently, the role of a `cbsdd` daemon - to launch parallel tasks in background. For example, cbsdd works if you run this command (when several containers work):

[code]

or when 'cbsd up' and 'cbsd destroy' with CBSDfile with multiple env, e.g: https://github.com/cbsd/cbsd/blob/develop/share/examples/cbsdfile/CBSDfile

Or jail/bhyve start (in parallel) via /usr/local/etc/rc.d/cbsdd

[2021-10-26 10:24] #647 closed, assigned to nobody

[2021-10-26 11:51] Tectu commented on #647
Thank you for providing this answer.

I came across `cbsdd` when realizing that it was constantly occupying 100% of one CPU core on my (desktop) system for hours without any jails or VMs even being present. Any ideas on this? This is with cbsd version `13.0.16`.

[2021-10-26 13:32] olevole commented on #647
Yes, it is a strange behavior. But you can safely kill the service via `kill -9 PID_OF_cbsdd`, environments will not affected

[2021-10-26 13:35] Tectu commented on #647
I think something other than `cbsdd` is strange on my main workstation.

This is on an Intel i7-8086K workstation with zero jails and two registered bhyve VMs (which are both stopped / not running):
[code]

[2021-10-26 13:39] olevole commented on #647
Can you try to kill them and restart again:

[code]

If the situation is repeated, try `timeout 5 truss -o /tmp/out.txt -p PID_OF_cbsdd`  and show part of /tmp/out.txt ?

[2021-10-26 13:41] olevole commented on #647
By the way, it does not look like 'cbsdd' ?  This is full command ? Press 'a' in top

[2021-10-26 13:59] Tectu commented on #647
I've killed all `cbsd` and `cbsdd` processes and started the `cbsdd` service again.
After that, I again see a `cbsd` process in `top` eating up 100% WCPU:
[code]
This goes on pretty much indefinitely (over multiple days).

Doing `truss` as per your request on PID `47550` shows  these lines over and over:
[code]
I don't know much about the cbsd internals but this looks like a prompt polling for som

[2021-10-26 15:54] olevole commented on #647
You are right, the CBSD for some reason asks an interactive question (which should not be when working through rc.d).
Can you try to run 'bstart' for VM which are labeled autostart (astart=1):
[code]

and start vm by hand ? I assume that this question refers to downloading the image.

I will check the later where we lose 'inter=0' arguments ( turn off interactive ).

[2021-10-26 16:38] Peter2121 commented on #647
BTW, I had the same problem starting a jail when the base image for the jail's version was absent on the host ;)

[2021-10-26 17:58] aeifn opened #648 "bconstruct-tui + media attach problem"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-RELEASE-p4

CBSD version ( cbsd version ): 13.0.16

how to reproduce
open bconstruct-tui, choose custom iso image, commit.

iso will not be attached.

[2021-10-27 08:59] aeifn opened #649 "jconfig hostname update does not work on running jail"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13-R

CBSD version ( cbsd version ): 13.0.16

how to reproduce
cbsd jconfig jname=<...>, then set hostname, commit
the hostname does not change, and the change is reset.

expected behavior:
hostname is set immediately, or after jail restart.

[2021-10-27 10:04] Tectu commented on #647
One of the two non-running VMs indeed had a prompt coming up upon starting it:
[code]

However, there are still two `cbsd` processes in top afterwards (even after stopping the VMs again):
[code]

[2021-10-27 18:42] olevole commented on #647
It seems I deleted this parameter as a result of a recent refactoring. Of course, by mistake.

@Tectu Can you check my fix from https://github.com/cbsd/cbsd/commit/fd2d0c35bc7d880c879ec56a70f6054f03992c98 ?

E.g:

[code]

[2021-10-27 18:45] olevole commented on #647
By the way, with @aeifn help, CBSD will receive integration tests soon: https://github.com/cbsd/cbsd/tree/develop/tests.

It's time to focus on quality) :point_up:

[2021-10-27 18:58] olevole commented on #649
Hmm, `jstart` set hostname in /etc/rc.conf each time: https://github.com/cbsd/cbsd/blob/develop/sudoexec/jstart#L693-L695

Most likely it is wrong for me, because the user may want to use an arbitrary hostname ( and do not disturb the system administrator for this ).

if we talk about the original problem, we must add something like:
[code]
into https://github.com/cbsd/cbsd/blob/develop/jailctl/js

[2021-10-27 18:58] Tectu commented on #647
From what I can tell, your patch fixes the problem - thank you!

Do you have any roadmap regarding the next release? Any chance that you can push a patch to the FreeBSD port?

I would be all pro integration tests. I am using `cbsd` for several years now. Overall I am quite fond of it. However, I do feel like there are more regressions "than necessary" which leads me to resort to different tools fo

[2021-10-27 19:05] olevole commented on #647
@Tectu no any roadmap for releases. I will send update into the ports tree, it is not a problem.

PS: Regression is part of the project development ;-). But you are right, the project resources are very limited and feedback is very important.

[2021-10-27 19:19] Tectu commented on #647
Sounds good!
Thanks for all the hard work! Also to @aeifn !

[2021-10-27 19:40] olevole commented on #647
@Tectu  here you are: https://cgit.freebsd.org/ports/commit/?id=3cc7affdd5cc24a54c8d8bed7938087679454983

[2021-10-27 19:48] olevole commented on #647
@Peter2121  I remember you! When the project becomes rich enough, you will be the first to get a gift/certificate 'Honorary CBSD tester' from us !! Probably +~ 10 years, that is, soon! stay with us.

[2021-10-27 22:04] Tectu commented on #647
Awesome, thanks guys! Poudriere is building... :D

[2021-10-28 10:37] Tectu opened #650 "13.0.17: Unexpected update message"
First of all: Thank you for providing a new release this quickly!

After building and installing `cbsd 13.0.17`, running `cbsd initenv` shows something I'd consider "unexpected":
[code]
Specifically, this line:
[code]
Now, I see no problem in this. I was just wondering whether it's a helpful contribution to mention this.

[2021-10-28 15:17] aeifn commented on #649
i will try this weekend (with corresponding tests)
give me ability to assign myself to issue please )

[2021-10-29 11:35] aeifn commented on #649
On-the-fly params are set in `jsetup-tui`, but have no effect:

https://github.com/cbsd/cbsd/blob/00055ec17ad094389d963b6e8b274ab1a5e02abe/jailctl/jsetup-tui#L253-L258

[2021-10-29 13:47] #649 closed, assigned to nobody

[2021-10-29 17:42] aeifn opened #652 "non-on-the-fly options in jconfig"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-R

CBSD version ( cbsd version ): 29f12d3

![photo_2021-10-29 20 41 15](https://user-images.githubusercontent.com/13631515/139479150-fbe938ac-a1aa-44a9-9265-d6c1c4125f6f.jpeg)

[2021-10-30 06:43] aeifn commented on #652
we are trying to set online params here:
https://github.com/cbsd/cbsd/blob/155e30fa52380dac17b9eea2d1645320226a5788/jailctl/jsetup-tui#L63-L68

then it is processed here:
https://github.com/cbsd/cbsd/blob/155e30fa52380dac17b9eea2d1645320226a5788/subr/jsetup-tui.subr#L95-L116

but `get_construct_jail_options_menu` is not implemented for jsetup-tui:

https://github.com/cbsd/cbsd/blob/155e30fa52380da

[2021-10-30 13:02] aeifn opened #654 "permissions for /usr/local/bin/cbsd"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-R

CBSD version ( cbsd version ): 13.0.17

Default permissions on /usr/local/bin/cbsd probably should be:
group: cbsd
g: +x

making it possible to run cbsd without sudo as user in group cbsd.

something like:
[code]

[2021-10-30 13:31] olevole commented on #654
Not sure about 0550, but under discussion. Main reasons 0500:

a) multi-node mode: when we do 'cbsd node mode=add', we are performing remote operations through the 'cbsd' user. Since the root user is usually locked out via SSH.
We tried not to give the entire root privileges to the cbsd user and several scripts are placed in a separate category: /usr/local/cbsd/sudoexec/*   . Also  see /usr/local/

[2021-10-30 13:31] #654 closed, assigned to nobody

[2021-10-30 14:44] aeifn commented on #652
actually, it needs design and implementation, not just an ordinary bug

[2021-10-30 14:44] #652 closed, assigned to aeifn

[2021-10-31 19:29] aeifn commented on #648
it's a rare case, i'd better fix in-place next time facing the problem

[2021-10-31 19:29] #648 closed, assigned to aeifn

[2021-10-31 21:59] aeifn commented on #650
It just means that `${workdir}/nc.inventory` file has already been updated.

`oldver` is assigned here:
https://github.com/cbsd/cbsd/blob/92ae674879c7ae8d1e66ebaf8f025a668ae5f4b1/sudoexec/initenv#L228-L234

[2021-10-31 22:18] aeifn commented on #650
While this

is produced by `nc.subr`, which reads `${workdir}/ver`:

https://github.com/cbsd/cbsd/blob/92ae674879c7ae8d1e66ebaf8f025a668ae5f4b1/subr/nc.subr#L135-L140

And `${workdir}/ver` wasn`t updated for some reason.

@olevole probably we should identify `workdir` version using `nc.inventory` only.

[2021-11-14 19:16] Tectu commented on #581
@olevole Regarding point 2 of your instructions: is this as simple as removing the existing symlink and using `ln -s` to create a new one or is more magic required?

[2021-11-15 10:24] olevole commented on #581
@Tectu changing symlink (e.g.: `ln -sf`) must be enough because the database uses relative paths for disk information

[2021-11-15 13:37] Tectu commented on #581
I feel a bit anxious about this operation but I am gonna give this a try this week... Can't really push it back any further xD

[2021-11-15 14:47] olevole commented on #581
Reinsurance measures are not canceled - use ZVOL snapshots and backups to remote servers ;-)

[2021-11-19 23:19] Marietto2008 opened #659 "cbsd : command not found"
On FreeBSD 13,I did :

pkg install sudo libssh2 rsync sqlite3 git pkgconf
git clone https://github.com/cbsd/cbsd.git /usr/local/cbsd
pw useradd cbsd -s /bin/sh -d /nonexistent -c "marietto"
cd /usr/local/etc/rc.d
ln -s /usr/local/cbsd/rc.d/cbsdd
ln -s /usr/local/cbsd/rc.d/cbsdrsyncd
mkdir -p /usr/local/libexec/bsdconfig
ln -s /usr/local/cbsd/share/bsdconfig/cbsd /usr/local/libexec/bsdconfig
reboot

[2021-11-20 09:28] mekanix commented on #659
Well, the first thing I notice is that you're missing [initenv](https://cbsd.io/cbsd/Installing-cbsd/#initenv) part of install. Also, cbsd command is only available to root, and it looks like you're trying to run it as non-root user.

[2021-11-20 09:55] olevole commented on #659
Since you are installing from sources, some binaries are not yet available. They will compile after `cbsd initenv`:

env workdir=/usr/jails /usr/local/cbsd/sudoexec/initenv

or

`make -C /usr/local/cbsd`
`make -C /usr/local/cbsd install`

[2021-11-20 10:07] Marietto2008 commented on #659
yes ok but why the command that you mentioned is not present in the
instructions that ive read on the "how to install the development version ?
"

Il sab 20 nov 2021, 10:56 Oleg Ginzburg ***@***.***> ha
scritto:

[2021-11-20 10:11] mekanix commented on #659
Because you didn't initenv.

[2021-11-20 10:15] Marietto2008 commented on #659
i didnt do it because the command has been omitted from the instructions.

Il sab 20 nov 2021, 11:11 Goran Mekić ***@***.***> ha scritto:

[2021-11-20 10:32] aeifn commented on #659
you are right: readme is incomplete

[2021-11-20 11:22] olevole commented on #659
@Marietto2008 you're right, the instructions need to be fixed. By the way, at the moment, the version in the GIT is now the same as the version in the port ( 13.0.18 released yesterday ;)

[2021-11-20 11:26] aeifn commented on #659
Maybe @Marietto2008 wanted to contribute? :)

[2021-11-20 11:36] Marietto2008 commented on #659
i can contribute yes,by testing cbsd + jails + linux + bhyve and so on.

Il sab 20 nov 2021, 12:26 Egor Kuzmichev ***@***.***> ha
scritto:

[2021-11-20 13:02] grahamperrin opened #661 "README table of contents item 1 refers to a nonexistent anchor"
Under <https://github.com/cbsd/cbsd/blob/develop/README.md#table-of-contents>, item

– refers to non-existent <https://github.com/cbsd/cbsd/blob/develop/README.md#project-description>.

Has the table somehow slipped below the Description <https://github.com/cbsd/cbsd/blob/develop/README.md#description> when it should be above?

[2021-11-20 13:29] #661 closed, assigned to nobody

[2021-11-20 13:38] olevole commented on #661
Thanks @aeifn @grahamperrin. Much better now: no TOC - no problem ;)))

[2021-11-20 14:07] #659 closed, assigned to olevole

[2021-11-21 10:39] Marietto2008 opened #663 "apt: Command not found ; dkpg command not found ; ip command not found..."
[code]

[2021-11-21 13:02] bitcoin-software commented on #437
On a fresh setup with fbsd 13.0+13.0.18 problem (is it a problem or misconfiguration?) still persists with defaults. Reproduced by setting up a fresh host with RACCT accounting disabled. Newly created jails have these log entries produced by atrun(8) every 5 minutes.

P.S. setting jail nice to 0 as suggested fixes this. but i am not sure when i should disable crons or set higher nice

[2021-11-21 13:45] tm-up commented on #437
I can confirm this behavior on 13.0+13.0.17 - I came across it only yesterday and was not yet 100% sure... I have both nice=0 and rctl_nice=0 set in my template, yet after creating a new jail the value 'nice' is set to 1. RACCT is disabled too.
And while at it: setting allow_fdescfs=0 does not work from within jconfig-tui and the template. Doing cbsd jset... works.

[2021-11-21 21:25] Marietto2008 opened #664 "warning: no such /etc/rc.conf: , skip for config ifconfig_eth0"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):  13

CBSD version ( cbsd version ):  13

Freezed again trying to configure a jail using cbsd...

[code]

[2021-11-22 09:24] olevole commented on #663
`root@marietto:/usr/home/marietto # cbsd jls display=jname.vnet`

use comma for delimer:

`root@marietto:/usr/home/marietto # cbsd jls display=jname,vnet`

As for Linux vnet and ip, see https://github.com/cbsd/cbsd/issues/589#issuecomment-829615212

I'll look at the rest of the entries later. Linux environment is generated by debootstrap script: https://github.com/cbsd/cbsd/blob/develop/share/Free

[2021-11-22 11:55] Marietto2008 commented on #663
can u give a look at this ?

https://github.com/cbsd/cbsd/issues/664

this is the situation that I have at the moment. What you see on the issue 663 happened only the first time.

[2021-11-25 14:00] Tectu opened #669 "Can't start bhyve VM with FreeBSD 13.0-STABLE"
System info:
- FreeBSD version ( uname -a ): `FreeBSD hydrogen01 12.2-RELEASE-p6 FreeBSD 12.2-RELEASE-p6 GENERIC  amd64`
- CBSD version ( cbsd version ): `13.0.18`

I am in need of a FreeBSD 13.0-STABLE VM. I created a new bhyve VM using `cbsd bconstruct-tui`:
- `vm_os_type`: `freebsd`
- `vm_os_profile`: `FreeBSD-x64-13.0`

Other than disk size, RAM size & CPU cores count I left everything untouch

[2021-11-25 16:50] Tectu opened #670 "bhyve VM: Cannot add "virtual cores""
I have a host running cbsd `13.0.18`. The host has an Intel Xeon CPU with 14 Cores / 28 threads.

Unfortunately, the VM can't take full advantages of the available system resources. cbsd doesn't allow me to set more than 16 cores.
Why is this? is there a way around this limitation? The VM is used for automated package building using poudriere and the server is only getting a ~50% load this way.

[2021-11-25 19:57] mekanix commented on #670
I know 16 cores was the limit for bhyve before: https://lists.freebsd.org/pipermail/freebsd-virtualization/2014-November/003104.html. I don't know how relevant is it today.

[2021-11-26 09:47] olevole commented on #670
That's right, 16 vCore is an artificial limit from CBSD side: man bhyve(5): https://man.freebsd.org/bhyve/8
[code]

Probably freebsd-virtualization@freebsd.org mailing list can answer more.

[2021-11-26 09:47] #670 closed, assigned to nobody

[2021-11-26 09:52] olevole commented on #669
Can you post ```ps axfww |grep bhyve``` output when VM is started? The ISO image should be the first by PCI BUS ( -s X ).

Also, try this procedure:

cbsd bconfig -> vm -> vm_iso_path - set to 'detach' , COMMIT.

and again:

cbsd bconfig -> vm -> vm_iso_path - set to your custom ISO, COMMIT

Perhaps the CBSD did not set the image as boot/first device

[2021-11-26 09:54] olevole commented on #669
upd: Another option that can affect:  'cbsd bconfig' -> vm -> cd_boot_firmware. But changing this parameter is better to try after my previous comment

[2021-11-26 14:48] Tectu commented on #669
Hmm... I came back to this today and did another `bstart` and it just worked... I don't know what changed. I tired that several times before posting this issue yesterday. The host wasn't restarted either (nor did anything else happen to it such as updates).

As such, I can't really help to reproduce this issue.

[2021-11-26 16:02] olevole commented on #669
try next time see the whole `bhyve` command line (ps axfww). bhyve does not have disk boot order and CBSD manage order via PCI BUS ID.

Also, for custom profile you can put into ~cbsd/etc/   own profile for 13-RELENG, see as example: https://github.com/cbsd/cbsd/blob/develop/etc/defaults/vm-freebsd-FreeBSD-x64-14.0-LATEST.conf

use `sha256sum="0"` to disable CRC check

[2021-11-27 08:35] olevole commented on #663
```cbsd jcreate jname=deb jprofile=debian_bullseye allow_raw_socket=1 vnet=1```

There is no such **debian_bullseye** profile, so you got a FreeBSD environment, not Linux. For these reasons, the CBSD tried to fetch /usr/jails/basejail/base_amd64_amd64_13.0.

Valid profiles can be found via: 'cbsd jconstruct-tui' -> profile:

![image](https://user-images.githubusercontent.com/926409/143674237-7a71d

[2021-11-27 08:35] #663 closed, assigned to olevole

[2021-11-27 08:42] olevole commented on #664
Linux does not use 'ifconfig' and 'route' command anymore. As for 'ip' and 'ip route' - as far as I know, the current FreeBSD Linuxulator implementation does not support netlink and network configuration in an vnet-based jail is impossible. Besides this hack: https://github.com/cbsd/cbsd/issues/589#issuecomment-829615212

Please use linux container without VIMAGE/vnet - in this case, you will get

[2021-11-27 08:42] #664 closed, assigned to olevole

[2021-11-27 09:14] Marietto2008 commented on #663
Don't close the error. if it works for you it does not mean that it works for me also

[code]
connection does not work inside the jail here. I've changed the resolv.conf file like this :
[code]

[2021-11-27 09:29] Marietto2008 commented on #664
----> Please use linux container without VIMAGE/vnet - in this case, you will get workable 'tcp'/'udp' connection.

how can I do that ? like this ?

cbsd jcreate jname=deb jprofile=debian_buster allow_raw_socket=1

[2021-11-27 10:01] olevole commented on #663
CBSD is just an argument generator for running jails and virtual machines - I have no idea how we can implement the missing functionality in linuxulator and jail for Linux jails. If you want to config network in vnet linux jails I can advise you to re-read https://github.com/cbsd/cbsd/issues/589#issuecomment-829615212

If you don't try to use virtual stack, then apt will work:

![image](https://us

[2021-11-27 10:03] olevole commented on #663
nevertheless, despite the 'allow_raw_socket=1' ping does not work, only 'tcp' and 'udp:

root@deb:/# ping 8.8.8.8
ping: socket: Protocol not supported

but again this is a question for freebsd-jail@freebsd.org and freebsd-emulation@freebsd.org

[2021-11-27 11:35] Marietto2008 commented on #663
[code]
something is not working as it should on the host network configuration ? I suspect that my problem is related to this message :

warning: no such /etc/rc.conf: , skip for config ifconfig_eth0.

I don't have eth0.

can u give a look below if everything is right ?

[code]

[2021-11-27 16:20] olevole commented on #664
yes, this is correct

[2021-11-27 16:25] olevole commented on #663
Please write other settings when the container is running, in host system:

1) `jls -v`

2) `cbsd jls display=jname,ip4_addr,vnet`

As for:

It doesn't matter. This is due to the fact that there is no /etc/rc.conf file in Linux environment

[2021-11-27 21:58] Marietto2008 commented on #663
I don't have any eth0 interface. I think that it is relevant,because my network interface does not work inside the jail,but the first time that I've followed your video tutorial it almost worked,eth0 had been created. Below you can see what I mean :

[code]

I never replicated this situation. And anyway,it was not so useful,since I couldn't use apt. I deleted that jail.

[2021-11-28 13:34] olevole commented on #663
I can’t help you if you don’t read my comments carefully.
1. There is no such https://github.com/cbsd/cbsd/issues/663#issuecomment-980525100 bullseye profile.
2. don't use vnet or re-read https://github.com/cbsd/cbsd/issues/589#issuecomment-829615212

[2021-11-28 14:28] Marietto2008 commented on #663
very thanks for your patience. it is working without the parameter vnet=1 ; my goal is to run teamviewer inside the debian jail. I'm trying to do the same with devuan,as u can see here : https://forums.freebsd.org/threads/adduser-uid-0-is-already-used-error-while-im-trying-to-install-and-configure-teamviewer-inside-a-freebsd-devuan-jail.83094/ ; but I'm failing. maybe I can do the same with cbsd a

[2021-11-28 15:49] Marietto2008 commented on #663
according with this tutorial :

https://zotovp.wordpress.com/2016/08/24/install-teamviewer-in-x86-chroot-on-x64-host-debian-jessie/

I should do :

[code]

but it assumes that the host and the guest os are linux. In my case the host is freebsd and the guest is linux. So,those commands should be changed. In other words,I need to mount the Xorg special nodes inside the jail.. How can I accomplish th

[2021-11-28 19:45] olevole commented on #663
I can install the teamviewer  package in CBSD debian jail but I do not see the output of the GUI ( DISPLAY/X11 configured )

deb # apt update
deb # apt install -y wget
deb # wget https://download.teamviewer.com/download/linux/teamviewer_amd64.deb
deb # dpkg -i ./teamviewer_amd64.deb
deb # apt --fix-broken install

deb # dpkg -i ./teamviewer_amd64.deb
(Reading database ... 12647 files and directori

[2021-11-28 19:50] olevole commented on #663
I think you need 'nullfs' here:
[code]

In this case in jail:
[code]

should show up clock on your FreeBSD/X11 host
But I don’t know what the teamviewer lacks with linux jail

[2021-11-29 13:40] #650 closed, assigned to nobody

[2021-11-29 16:56] olevole commented on #627
please note: some cloud-init implementations ( mainly for FreeBSD, NetBSD and OpenBSD ) do not set the prefix correctly and also use hardcode. At least the last time I tested (also aliases (multiple IPS for one nic) didn't work).

[2021-11-29 16:56] #627 closed

[2021-11-29 18:20] Tectu commented on #669
I didn't touch the VM since this. It was running out of space so I shutdown the VM and resized the disk (via `cbsd bhyve-dsk ...`).
After successfully resizing the disk the VM can't boot. it shows exactly the same error message as I described here in my first post.

What I tried since then:
- Detaching the CD (as it's an already installed system now)
- Tons of `bstop`/`bstart` and `brestart`

My V

[2021-11-29 19:04] olevole commented on #669
I understand correctly that the scenario was as follows:

1) create VM with custom ISO (13-STABLE)
2) boot from ISO/CD / FreeBSD 13-STABLE was installed successful
3) bstop
4) resize disk
5) bstart -> boot failed?

current line:
[code]

means that you are trying to boot from disk now, not ISO.

If OS was installed, you can try to boot from ISO into 'livecd' mode and check disk/part/FS status.

[2021-11-29 19:06] Tectu commented on #669
That is correct.
Worth nothing that the symptoms are the same as when I initially installed the OS.

That is also what I want to do. I already successfully installed the OS and it was working for a few days (just didn't touch the VM in that time).
How would I go about fixing this issue? I did detach the ISO via `bconfig`. I also selected `hdd` as the boot medium (other options are `cd` and `net`).

[2021-11-30 09:47] olevole commented on #669
To change the boot device, you must do two things:

1) cbsd bconfig -> vm -> vm_iso_path -> SELECT ISO
also (in bconfig TUI):
    vm_boot -> 'cd'

2) COMMIT

you should see these parameters changed:

![image](https://user-images.githubusercontent.com/926409/144023086-323c903e-e11f-42c9-9d94-22965a756c64.png)

Try to see after these steps 'media' table for your VM:

`sqlite3 ~cbsd/var/db/storage_me

[2021-11-30 10:22] olevole commented on #669
In case the ISO image is present in the arguments, but still booting from disk, try this change: https://github.com/cbsd/cbsd/commit/062e8384ebd0e61bb12505cac4e67b883447135b

e.g:
[code]

and bstart again.

[2021-11-30 10:32] olevole commented on #634
it seems to me that the list of IP addresses is not a good idea, because CBSD may not know the addresses in containers (e.g. vnet jails, bhyve VM, + aliases on environment interface which are configured by users without CBSD).

maybe we can turn default rules into file-based templates, e.g.:

_~cbsd/etc/pfctl.conf.tpl:_
[code]

because an automation suitable for one case can break another. With te

[2021-11-30 10:36] olevole commented on #634
I have long wanted to make it possible to include the custom rules, because I cannot predict all cases. also, it is necessary to regulate redirects rules for expose. Most likely there should be several templates, e.g.:

nat.rules.tpl
rdr.rules.tpl
..

which will generate chunks of files

But the user must write a common file with the inclusions of these chunks in the correct order.

This is releva

[2021-11-30 14:25] Tectu commented on #669
I think we're not talking about the same thing here: I don't want to boot from the ISO. I do want to boot from the HDD.
I already booted from ISO and installed the OS on the disk. It was running for a week. Then I shut down the VM, resized the disk and it doesn't boot anymore with the same error message as shown in my first post of this issue.

Or am I misunderstanding your intentions here?

[2021-11-30 17:24] olevole commented on #669
At the moment I don't know what can be viewed/checked from the host side, so I suggest booting from a live cd.

[code]

this message from `tools/check_for_empty_hdd` scripts which does not see anything at the beginning of the disk, see: https://github.com/cbsd/cbsd/blob/develop/tools/check_for_empty_hdd#L36-L37

I tried to reproduce with a new/clean machine (freebsd1) after installing OS:

[code]

[2021-11-30 18:17] Tectu commented on #669
Based on the response from `cbsd bhyve-dsk` the resizing completed successfully.
The disk was initially created with a size of 128GB and I resized with with `+128g`.

Therefore, we should see a 256G disk (which we do):
[code]
I booted the live CD on that VM as per your suggestion.
`gpart disk list` shows the virtual disk:

![image](https://user-images.githubusercontent.com/1385320/144104475-9ba7d5

[2021-11-30 18:37] olevole commented on #669
@Tectu did you try `gpt recover vtbd0` ?

[2021-11-30 18:39] Tectu commented on #669
@olevole I just gave that a try. Unfortunately, that failed:

![image](https://user-images.githubusercontent.com/1385320/144107565-475c9e4d-29ab-46f9-afb2-6a83a3f4a25f.png)

As I understand this error shouldn't show up just because the disk was resized using `cbsd bhyve-dsk`, right? There is something actually wrong with the virtual disk?

[2021-11-30 18:43] olevole commented on #669
yes, you are right - resizing should not lead to these errors. GPT will always be broken because it has system records at the beginning and end of the disk, but as the disk grows up, it loses 'end of disk'. It would be interesting to learn how to reproduce this

[2021-11-30 18:45] olevole commented on #669
Maybe it has something to do with alignment, it looks like incorrect disk geometry, or virtio driver

[2021-11-30 18:53] olevole commented on #669
@Tectu probably a stupid question, but does your pool have enough free space, `zpool list` on  the hoster?

[2021-11-30 19:21] Tectu commented on #669
Yes, the host's ZFS dataset/pool has ab

[code]

However - and I feel stupid not having mentioned that earlier: When I resized the VM's disk the VM disk was full (to the point where poudriere running in that VM simply got stuck). Hence I did the resizing of the disk :D

[2021-12-01 00:05] olevole commented on #669
@Tectu try to execute on the hoster:

[code]

(I hope path is correct, `zvol/<zvol-path>`)

[2021-12-01 08:44] Tectu commented on #669
That seemed to do the trick. The VM now boots again. I was able to resize the ZFS pool successfully afterwards and the VM survived several reboots.

@olevole Could you explain your reasoning/rationale behind this `gpart commit` situation? I'd like to understand what is (or was) going on.

[2021-12-01 09:52] olevole commented on #669
Wow, It is probably necessary to do after `zfs set volsize`, despite volmode=dev. I'm not sure that I myself understand.

But I began to respect **Poudriere** even more - it is also a search engine for CBSD bugs ;-)

Thanks, fix will be added shortly!

[2021-12-01 10:41] Tectu commented on #669
Thank  you for your efforts, @olevole - As usual your work is really appreciated.

Well I don't think that this is related to poudriere at all. It's just one of many VMs I host/manage via CBSD.
Personally I like to keep my poudriere instances in a VM as this allows me to move them between hosts easily whenever necessary. Furthermore, it allows me to have a poudriere instance running -STABLE or -CU

[2021-12-01 12:20] olevole commented on #669
@Tectu Just kidding about poudriere. As for 16+ vCores  - try to contact with rgrimes@FreeBSD.org ( Rodney W. Grimes ). Once he explored this problem and even had a patch, if my memory serves me right.

[2021-12-01 12:58] #669 closed, assigned to olevole

[2021-12-01 13:01] Tectu commented on #669
Awesome - Thanks for this patching this so quickly :)

[2021-12-01 17:30] olevole commented on #670
@Tectu forget to say: you can override the maximum vCPU limit for bhyve in the CBSD, see `vm_cpus_max=` settings in https://github.com/cbsd/cbsd/blob/develop/etc/defaults/bhyve-default-default.conf#L53

All settings in `~cbsd/etc/defaults/*.conf` may be overwritten via `~cbsd/etc/*.conf` ( as **/etc/defaults** and **/etc/** in FreeBSD ), e.g.:

[code]

This is a protection for user's input, when b

[2021-12-03 18:57] Tectu commented on #670
I'm adding this for future references: e13d88b64094ec11ab411c44f16dce192dbe05c5

[2021-12-07 15:09] Marietto2008 commented on #663
Hello. Im trying to change the Ip address of the jail because 192.168.1.2 is already taken. I'm trying to use 1.3 or 1.4,but I can't do that.

[code]

[2021-12-07 18:05] olevole commented on #663
@Marietto2008 Try to comment out this line: https://github.com/cbsd/cbsd/blob/develop/jailctl/jset#L179

I intentionally blocked the change of IP address on non-FreeBSD jails on-the-fly, because I never checked it.
In addition, we can enable it for non-VNET (vnet=0)  Linux jails, because at the moment I do not know what we can do with the network setting in the Linux container.

PS: By the way, CB

[2021-12-07 18:12] Marietto2008 commented on #663
I love you. I know that you like the geeks. And I'm one of them :) BTW,13.0.19 ? I see only 13.0.18...

root@marietto:/usr/home/marietto # pkg install cbsd

Updating FreeBSD repository catalogue...
Fetching packagesite.pkg: 100%    6 MiB   6.7MB/s    00:01
Processing entries: 100%
FreeBSD repository update completed. 31366 packages processed.
All repositories are up to date.
pkg: kodi has a missin

[2021-12-07 18:34] olevole commented on #663
@Marietto2008 commited to ports: https://cgit.freebsd.org/ports/commit/?id=d1ed881937ca99011854b4305c352e32e29b193f
Packages are always late.

[2021-12-14 17:49] GitHubinat0r opened #671 "Jail upgrade from 12.2 to 13.0 blows out all config files"
_I could be performing an upgrade incorrectly. If that's the case, I apologize profusely._

FreeBSD version ( uname -a ):
FreeBSD localhost 13.0-RELEASE-p4 FreeBSD 13.0-RELEASE-p4 #0: Tue Aug 24 07:33:27 UTC 2021     root@amd64-builder.daemonology.net:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ):
13.0.19

Below are the steps that I use to recreate the issue:
`
**r

[2021-12-14 19:46] olevole commented on #671
Did you make a bootstrap for 12.2 and 13.0 bases as `cbsd etcupdate --help` script says? `etcupdate` is 3-way merge, so we need bootstrap (once) for each base version, e.g.:

[code]

`cbsd repo action=get sources=base ver=12.2`
`cbsd repo action=get sources=base ver=13.0`

// on my host  I already did bootstrap earlier, so I will delete it first:
// rm -f /usr/jails/src/src_12.2/etcupdate/etcupdat

[2021-12-15 03:35] GitHubinat0r commented on #671
I've been more careful in backing up my jails and I followed your above steps and the diff shows about 5-8 files that will be updated which looks sane and as soon as I set the mode=update, it blasts all the etc files like I noted before. It could very well be my issue, but I don't understand why the diff isn't aligning with the subsequent update.

Edit: It is also worth noting that I followed your

[2021-12-15 10:15] olevole commented on #671
hint: cbsd created backup ( If you did not turn it off via etcupdate.conf: https://github.com/cbsd/cbsd/blob/develop/etc/defaults/etcupdate.conf ) in ~cbsd/jails-system/jail4/etcupdate/backup/

As for removal: needs an investigation, WIP... thanks for report.

[2021-12-15 16:17] GitHubinat0r commented on #671
Understood. I used the ZFS jsnapshot and I was able to recover following. (I wasn't 100% sure how to work with the etc backups that were generating.) I'm 90% certain the underlying state issue is tied to something I screwed up, but this is a good edge case to work with.

I'll leave the remainder of my jails on 12.2 for now. Hopefully, if you get time to develop a fix I'll be able to test.

[2021-12-21 19:20] JEAholding commented on #515
I am not 100% sure if this will help anyone in the future but when I have issues with children/clones in ZFS I just do a separate snapshot for the clone and start deviating from the source... I think that should break the children from the source metadata, at least it has worked for me, have not test this further as I only learn/do the minimum to resolve my issues/use case.

[2021-12-21 21:00] JEAholding opened #672 "CBSD Node add Issues and Manual Emulation Copy inquiry on diff host|node."
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
12.2-RELEASE-p3 FreeBSD 12.2-RELEASE-p3 GENERIC  amd64
13.0-RELEASE-p1

CBSD version ( cbsd version ):
13.0.9
13.0.3

====================================================================================================
I have multiple versions of the CBSD and FREEBSD OS around multiple hosts/servers (the node section is a little confus

[2021-12-22 05:25] olevole commented on #672
Hi @JEAholding. Can you try the `cbsd zfs-migrator` script? Basic idea: bclone should choose (automatically or manually) the most suitable method, there are several cases:

1) ZFS discrete replication  ( zfs send / recv )
2) HammerFS
3) Custom script and/or storage-side implementation ( https://github.com/cbsd/cbsd/issues/672 + https://www.bsdstore.ru/en/12.0.x/wf_jclone_ssi.html#clone-local.d%20h

[2021-12-22 05:27] olevole commented on #515
Can you share information how you do it?

[2021-12-22 13:51] JEAholding commented on #672
Ok, @olevole I will give it a try... The problem I see with this is HOW do I pass the keys? The workaround is to disable authorized keys in SSHD and I will also test by adding to .ssh/config file between hosts to see if that works... But still will need to include a passphrase not sure if I will need to add to the ssh-agent see if that works.

Will test with zfs-migrator, rexe and CBSD node furthe

[2021-12-29 12:36] koraykutanoglu opened #673 "Virtualization issue on cbsd proxmox"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):

root@test:~ # uname -a
`FreeBSD test.test.com 13.0-RELEASE FreeBSD 13.0-RELEASE #0 releng/13.0-n244733-ea31abc261f: Fri Apr  9 04:24:09 UTC 2021     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64`

CBSD version ( cbsd version ):

[code]

hi, i am having a problem with cbsd. I also opened this situation on

[2021-12-29 19:40] olevole commented on #673
hmm, if your virtual machine hangs in the Proxmox (regardless of whether the CBSD is running in it) - most likely the problem is not in CBSD, since CBSD is an argument generator only (for running a virtual machine (or jail)).

Can you try to start VM without CBSD ?, with two options:

1) without network, e.g:
[code]

2) without disk, e.g.:

[code]

both launches will also freeze?

Also, it makes s

[2022-01-02 14:13] #673 closed, assigned to olevole

[2022-01-15 14:36] Tectu opened #676 "CBSD on a laptop (NAT)"
I'd like to inquire some information regarding the recommended setup when running FreeBSD on a laptop which is bound to get different IP addresses assigned depending on the network it's connected to.

During the initial CBSD setup the user is asked whether NAT should be enabled for jails. Assuming that the jails are supposed to get access to the internet this option needs to be enabled (unless I'm

[2022-01-15 14:37] Tectu commented on #128
I've been using CBSD for the better part of five years on various servers and desktop machines and I can only come back here to thank you for your efforts as well - please keep up the good work!

[2022-01-15 16:28] olevole commented on #676
If my memory serves me, instead of the IP address, you can specify the interface name as `natip`. In this case, `cbsd naton` ( executed every time the server starts ) will take the address that is used on the interface instead of the fixed address.

But if your internet switches using a different interface... - unfortunately, I don't know what magic to use here ;).
You are probably switching inter

[2022-01-23 09:16] olevole commented on #676
CBSD provides the simplest example for configuring NAT. In difficult cases, you should turn off cbsd nat control  and use your own scripts.

Hope this helps, I'll close it.

[2022-01-23 09:16] #676 closed, assigned to nobody

[2022-01-31 21:53] madisonblue commented on #671
hey! same thing happened to me. after doing `cbsd etcupdate jname=xxx mode=update from=12.2 to=12.3` most of the files in /etc/ are gone. I've been doing upgrades like this since 10.x and it never happened before. on the servers where I'm experiencing this issue I've upgraded CBSD multiple time via pkg upgrade(probably since FreeBSD 12.1 - running `cbsd initenv` afterwards). I can't replicate this

[2022-02-03 06:16] koraykutanoglu commented on #673
Unfortunately, the problem was not solved like this. I found a different method. I took the disk of the machine I virtualized with cbsd and converted it to make it mountable to proxmox. I booted the machine directly from disk by mounting it to ZFS in Proxmox.

[2022-02-03 09:28] olevole commented on #673
Just for information: what format did you convert the original to. And how?  `dd if=<source> of=<new> ..` , `qemu-img convert ... `, other?

[2022-02-07 03:09] GitHubinat0r commented on #671
I'm taking time to upgrade all of my jails as I get time. Another clue is that on a different system, I had the same issue. I looked at the ~cbsd/jails-system/jail4/etcupdate/backup/ directory and the backup directory was empty! There was an empty subfolder and the zipped file was obviously also empty.

I'm just going to nuke the jails and start over.

[2022-02-07 06:29] olevole commented on #671
notes for myself:

1) distribute etcupdate indexes via https:// + CBSD CI/CD infra/mirror ?
2) control check point (e.g. have a small list of permanent files to check)
3) unit test https://github.com/cbsd/cbsd/tree/develop/tests

[2022-02-07 09:17] Peter2121 opened #677 "cbsd baseupdate destroys old base"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
13.0-RELEASE-p6

CBSD version ( cbsd version ):
13.0.22

Trying to update base jail for FreeBSD 12.2 on host unders FreeBSD 13.3:

[code]

So, the base version is not correctly detected. The result is a terrible mix of 12.2 and 13.0 base system:
[code]

This base was already updated at the same manner earlier, so all 12.2 jails are bro

[2022-02-07 10:00] olevole commented on #677
yes, this is a fresh regression after the removal `grep -A28 ^20140930: /usr/ports/CHANGES` work-around

https://github.com/cbsd/cbsd/commit/0c474506dc26e264f53aef83f87e0db3222689e4

[2022-02-07 11:29] olevole commented on #677
Thank you @Peter2121 . I will try to send an update to ports within a week

[2022-02-07 11:29] #677 closed, assigned to olevole

[2022-02-07 14:38] olevole commented on #671
most likely the root of the problem is found - incorrect index files in /usr/local/cbsd/share/etcupdate_**XX**.txt.xz, a fix is planned for this week with CBSD **13.0.24.**

[2022-02-07 14:56] olevole commented on #671
notes: also not affected when etcupdate files build from the sources ( default_obtain_etcupdate_method=build) instead of index files, e.g.:
[code]

But default_obtain_etcupdate_method=index is default, since 'build' requires full /usr/src for ver=XX.Y.

[2022-02-07 15:20] olevole commented on #671
@GitHubinat0r unfortunately, backup also works by indexes and should copy only known for etcupdate files.For this reason, your directory is empty - the index file was not formed correctly.

@GitHubinat0r @madisonblue Thanks a lot for the report. Please re-open Issue if the problem persists after updating to CBSD 13.0.24 ( after some testing will be sent to the ports )

[2022-02-07 15:20] #671 closed, assigned to olevole

[2022-02-07 15:31] madisonblue commented on #671
Thanks very much for your help!

[2022-02-07 15:58] GitHubinat0r commented on #671
I'll keep an eye out for that release when I upgrade my last few stragglers. Thanks for your work on this project; it's greatly appreciated! :-)

[2022-02-21 19:36] serpent7776 opened #678 "unexpected operator error in jconstruct-tui"
I run cbsd, typed `jconstruct-tui`, selected `C pkglist` and when I pressed enter I got repeated error:

[: 62: unexpected operator
[: 62: unexpected operator
[: 62: unexpected operator

I had to `pkill -9 cbsd` to end cbsd script.

The same happens when executing `cbsd jconstruct-tui` directly.

I can see some errors in syslog:
kernel: pid 3034 (tr), jid 0, uid 0: exited on signal 3
kernel: pid 3

[2022-02-21 21:11] olevole commented on #678
I agree, behavior is not very good.

I fixed the script a bit via https://github.com/cbsd/cbsd/commit/194db8eee39cbfb8bacc2aaeb431e65fd93fae7f , can you test the changes?

To apply changes:

1) remove old script:
`rm -f /usr/local/cbsd/tools/pkgbrowser`

2) fetch updated scripts from Github and restore executable:
[code]

Try **jconstruct-tui** -> **pkglist** again.

Please re-open if the problem

[2022-02-21 21:11] #678 closed, assigned to olevole

[2022-02-21 21:34] serpent7776 commented on #678
It does work without the issue with the fix.
Thanks for the lightning fast fix.

[2022-02-25 17:07] jas-s2r opened #680 "bconstruct-tui / Disk Image Type / Wrong Text"
Mandatory info for bug reports:

While creating a new VM cbsd shows IP information of the description of the window for disk image [type.]

FreeBSD version ( uname -a ):

FreeBSD freebsd.furer.local 13.0-RELEASE-p6 FreeBSD 13.0-RELEASE-p6 #0: Mon Jan 10 06:28:50 UTC 2022

CBSD version ( cbsd version ):

13.0.24
![cbsd-13024-bconstruct-tui](https://user-images.githubusercontent.com/78652502/1557570

[2022-02-26 06:41] olevole commented on #680
Thanks! copy&paste bug ) I will fix this

[2022-03-04 10:03] olevole commented on #680
It wasn't 'copy&paste' bug. You probably first went to the 'VNC' menu and then went to other menus.
Because the prompt variable was not reassigned (or unset), the dialog inherited its value.

Fixed, thanks!

[2022-03-04 10:03] #680 closed, assigned to olevole

[2022-03-04 11:18] jas-s2r commented on #680
Thank you Oleg!

On Fri, Mar 4, 2022 at 7:03 AM Oleg Ginzburg ***@***.***>
wrote:

--
Javier Sturman

[2022-03-05 15:34] serpent7776 opened #685 "bad number error when assigning ipv4 using DHCP"
I can see some errors when assigning ip address with DHCP for a jail

- execute `cbsd jconfig`
- select a jail
- select `ip4_addr`
- input `DHCP` into input box and accept
- ip is assigned correctly, but I can see unexpected output in the terminal:
[code]

FreeBSD version ( uname -a ):
FreeBSD DaemONX 12.3-RELEASE-p1 FreeBSD 12.3-RELEASE-p1 GENERIC  amd64

CBSD version ( cbsd version ):
13.0.24

[2022-03-05 21:56] olevole commented on #685
notes for myself: https://github.com/cbsd/cbsd/issues/678 related ? / (some changes in the bsdconfig dialog? check **f_dialog_max_size** function in /usr/share/bsdconfig/dialog.subr )

[2022-03-06 19:08] olevole commented on #685
@serpent7776 Unfortunately, this time I can not reproduce. You see an error during the 'Probing for <IP> availability. Please wait...'  message ?

[2022-03-07 15:28] jas-s2r opened #686 "imgtype - raw -Can't enter device"
Mandatory info for bug reports:

CBSD won't allow to enter the device to be used as disk.

FreeBSD version ( uname -a ):
13.0-RELEASE-p6 FreeBSD 13.0-RELEASE-p6 #0: Mon Jan 10 06:28:50 UTC 2022

CBSD version ( cbsd version ):
13.0.24

![disk_type_raw](https://user-images.githubusercontent.com/78652502/157064240-cb37997d-0a59-46a7-93c2-683151d7bfd8.jpg)

[2022-03-07 19:49] serpent7776 commented on #685
I don't see "Probing for availability. Please wait..." message. when I hit enter in ipv4 box, it briefly goes to terminal where I can see `[: 62 239: bad number` printed three times and then it goes back to jail configuration dialog.
It's entirely possible that I messed something up, I'm very inexperienced with jails.
Here's my jail config obtained with `jget`, maybe there's something misconfigure

[2022-03-08 02:34] olevole commented on #685
CBSD assign IP from `nodeippool` range. Type `cbsd initenv-tui` to change default jail/VM network instead of 10.0.0.0/24 via `nodeippool`

[2022-03-08 15:17] Tectu opened #687 "bhyve VM with 2nd disk on different location"
I have a running bhyve VM with the default setup of having just one disk. The VM would need some additional storage so I was planning on adding a second virtual disk to it. However, I need that disk to be on my ZFS storage pool whereas the "default CBSD location" is on my ZFS SSD pool. While I managed to add a 2nd disk to the VM I fail to understand how I can assign that 2nd disk to be on a differ

[2022-03-09 16:36] olevole commented on #687
CBSD does not support multiple volumes for the same working environment. However, you can use a symbolic link for secondary disk in ~cbsd/jails-data/<VM>/dsk2.vhd

e.g.:
1) create second disk
[code]
2) we need only records in SQL, so remove unnecessary disk:
[code]

3) Create ZVOL on the required storage, e.g. <fat_pool_storage>
[code]
3) replace symlink:
[code]

[2022-03-09 18:24] Tectu commented on #687
Thank you for your response, Oleg.

This seems to have worked well!
May I suggest adding support for this as a feature to CBSD? Personally, what I would like to see is an option in the `bconfig` -> `bhyvedsk` dialog to specify the underlying storage volume for a newly added virtual disk.

[2022-03-10 07:52] olevole commented on #687
I keep that in mind, but it creates a huge number of problems and exceptions in various forms.
For example, bexport/bimport/bclone/bsnapshot and so on must somehow handle the existence of another pool.

Special issue here for migrations to remote host via ZFS send. At the moment, VM and all related data are in a personal dataset:

<pool1>/myvm1                                                 1.31G

[2022-03-10 12:23] Tectu commented on #687
Hmm.... I see what you mean.
I'm considering to trash my approach here and instead just have the entire poudriere VM located on the fat storage pool. After all, there is an L2ARC device and plenty of RAM. However, that inevitably just circles back to the same issue: CBSD is currently not able to have an entire VM located on a different pool.

[2022-03-10 12:46] olevole commented on #687
Perhaps at an early stage of implementation we can add some flag that such a virtual machine is non-migratory ( it will be a kind of technical debt as it is a big task).

But most likely, we will first have to add a script to manage pool/volumes, e.g.: 'cbsd volume/pool'. Let's move this task to 'open', but at the moment I do not have specific deadlines for implementation.

[2022-03-10 14:33] Tectu commented on #687
Personally, I see the "solution" of marking the VM as non-migratable as very viable.
Honestly, after many years of using CBSD this is the first time I run into a limitation - so I'm certainly not complaining ;-)

[2022-03-12 21:05] joneum opened #688 "Connect problems with jails via ssh"
Hello,
I have a fresh FreeBSD 13.0 system, with p7.
I have installed cbsd from the ports with version 13.0.24

I have taken the default installation with pf.
The jail has a fixed IP address, which I can ping.

With jexec I get into the jail without problems.

If I want to ssh from another computer directly into the jail, I end up on the mainhost.

The same, if I want to ssh from the mainhost into

[2022-03-14 12:57] Peter2121 opened #689 "jexport/jimport and expose"
FreeBSD version ( uname -a ):
13.0-RELEASE-p6
CBSD version ( cbsd version ):
13.0.24

VNET jail rproxy7 exported on one host and imported on another host.
Inbound NAT rules are not adapted for new IP:
[code]

172.17.14.10 is the IP of _old_ host, where the jail was exported.
Trying to delete the rule:
[code]

So the NAT rule is not deleted.

I think that inbound NAT rules should be adjusted to the

[2022-03-14 20:42] olevole commented on #688
If you are not using 'vnet=1' (VIMAGE, virtualized stack), the IP address of the jail is just alias on the mainhost. Therefore, as far as I understand, the ssh daemon in mainhost serves all addresses by default.

You can use at least two options. E.g, always use non-default port for mainhost, e.g.: `222`. You can set settings for sshd via **/etc/rc.conf**, via sshd_flags:
[code]
Another options: d

[2022-03-14 20:42] #688 closed, assigned to olevole

[2022-03-14 21:04] olevole commented on #559
FYI:
https://cgit.freebsd.org/src/commit/?id=c76e4b89
https://cgit.freebsd.org/src/commit/?id=f1d450dd

[2022-03-14 21:04] olevole commented on #670
FYI:
https://cgit.freebsd.org/src/commit/?id=c76e4b89
https://cgit.freebsd.org/src/commit/?id=f1d450dd

[2022-03-15 13:17] Tectu commented on #670
Nice!!

However, there doesn't seem to be any MFC duration. So we probably won't get that into stable/13 any time soon - and most likely also not into 13.1-RELEASE.

[2022-03-17 16:25] Peter2121 commented on #689
After some tests - to delete a rule with inaddr defined, one _must_ use inaddr in delete command. In such case the rule is correctly deleted.

[2022-03-18 09:46] Peter2121 opened #690 "[Feature request] Show result of jsnapshot operation"
It would be nice to see the result of jsnapshot operation, something like 'snapshot created in 0.5 seconds' or 'failed to create a snapshot'. In case of zfs, probably, the exit code of 'zfs snapshot' command can give the necessary information.

[2022-03-19 19:37] olevole commented on #690
@Peter2121 Try to fetch&test changes:

[code]
it's all right?

[2022-03-19 19:37] #690 closed, assigned to olevole

[2022-03-19 20:48] serpent7776 commented on #685
`62 239` is my terminal size as returned by both `dialog --print-maxsize` and `stty size`. For some reason `f_dialog_max_size` doesn't set correct size in this case.
`local __height` is set to `62 239` for some reason here: https://github.com/freebsd/freebsd-src/blob/releng/12.3/usr.sbin/bsdconfig/share/dialog.subr#L321
When I try this command locally in `/bin/sh` it works correctly:
[code]
When I

[2022-03-19 21:36] serpent7776 commented on #685
Actually, `IFS` is set here https://github.com/cbsd/cbsd/blob/5726adb3c24a07b1661dc11d28fa54f3358c82ee/subr/settings-tui.subr#L208
When I set `IFS=" "` before the `case "${_i}"` and set it back to `IFS=","` after matching `esac` the error goes away.

[2022-03-19 22:15] olevole commented on #685
Wow, if only all reports were like this! ;)

It seems you are right.

Can you try the latest fixes from git ?, e.g:

[code]

[2022-03-20 10:38] serpent7776 commented on #685
It works fine. Your "notes for myself" comment help a lot, I wasn't even aware of `/usr/share/bsdconfig` stuff.

Shouldn't `OIFS` be `local` in `get_construct_ip4_addr()`?

[2022-03-20 16:58] benoitc opened #691 "vm appears twice when created with an IPv6 address"
Whnen starting a new bhyve image (same for jails) it appears twice in the list

[code]

`<someprefix>:111::1` is the IP of the node. It is set as `nodeip` and `nodeip6` in the configuration.

Mandatory info for bug reports:

FreeBSD version ( uname -a ):

FreeBSD host.mydomain.tld 13.0-RELEASE-p8 FreeBSD 13.0-RELEASE-p8 #0: Tue Mar 15 09:36:28 UTC 2022     root@amd64-builder.daemonology.net:/usr/o

[2022-03-20 18:30] olevole commented on #685
Thanks!

[2022-03-20 18:30] #685 closed, assigned to olevole

[2022-03-21 04:10] benoitc opened #692 "stopping a bhyve instance reinitialize the bridge"
I have setup a bhyve VM using an exisisting bridge set in `rc.conf`. Starting or stopping it will bring up and down all interfaces:

[code]

cbsd.log:

[code]

Mandatory info for bug reports:

FreeBSD version ( uname -a ):
`FreeBSD host.domain.tld 13.0-RELEASE-p8 FreeBSD 13.0-RELEASE-p8 #0: Tue Mar 15 09:36:28 UTC 2022     root@amd64-builder.daemonology.net:/usr/obj/usr/src/amd64.amd64/sys/GENERIC

[2022-03-21 14:01] Peter2121 commented on #690
Great! Works as expected, thanks!

[2022-03-21 17:32] olevole commented on #686
Fixed.

raw disk support added in development/git version.

Will be available in 13.0.25-RELEASE.

see `cbsd bhyve-dsk --help` or via `cbsd jconstruct-tui' for new VM.

[2022-03-21 17:32] #686 closed, assigned to olevole

[2022-03-21 17:39] olevole commented on #692
Can you write the full output for 'ifconfig' **before** and **after** VM start/start  ?
CBSD does not make any interface `down`, most likely it is due to reset of capabilities when adding-destroying an interface in the bridge/lagg

[2022-03-21 17:42] Peter2121 opened #693 "etcupdate warning - typo"
FreeBSD version ( uname -a ):
13.0

CBSD version ( cbsd version ):
13.0.24

CBSD warning on start a jail with the new version set, but without etc update:
`Warning: you can use etcupdate to sync content: cbsd etcupdate jname=consul2 mode=update from=12.2 to=13.0 mode=diff`

At the end of the line there is `mode=diff` - probably it should not be here.

[2022-03-26 06:56] aeifn opened #694 "Typo in code appearing when cbsd up"
Mandatory info for bug reports:

FreeBSD version ( uname -a ): 13.0-RELEASE-p7

CBSD version ( cbsd version ): 13.0.24

<img width="516" alt="Screenshot 2022-03-26 at 09 53 20" src="https://user-images.githubusercontent.com/13631515/160228613-8982d4ed-9d92-4990-9bc3-2c8bb2466eec.png">

[2022-03-27 16:26] olevole commented on #694
fixed in 13.0.26, due to uninitialized  `ssh_wait` variables: https://github.com/cbsd/cbsd/blob/v13.0.26/subr/up.subr#L625-L626

[2022-03-27 16:26] #694 closed, assigned to nobody

[2022-03-30 08:36] Peter2121 opened #695 "Network configuration of VNET jails incorrect after reboot"
FreeBSD version ( uname -a ):
13.0-RELEASE-p6

CBSD version ( cbsd version ):
13.0.24

I have several VNET jails on the host. If I start (or restart) the jails manually - everything works fine. If I configure the jails to start automatically on boot - the network configuration is not applied correctly (even if parallel=0).

For example, after reboot of the host:

On host I see both `epair7a` and `

[2022-03-30 16:34] benoitc commented on #691
rgis was relarted to the registation of a node to itself. maybe this could be checked? Anyway not a bug per see. closing it no’

[2022-03-30 16:34] #691 closed, assigned to olevole

[2022-03-30 16:37] benoitc opened #696 "error while importing an image in bhyve"
when using bimport I get the following error:

[code]

Mandatory info for bug reports:

FreeBSD version ( uname -a ):

FreeBSD host.mydomain.tld 13.0-RELEASE-p8 FreeBSD 13.0-RELEASE-p8 #0: Tue Mar 15 09:36:28 UTC 2022 [root@amd64-builder.daemonology.net](mailto:root@amd64-builder.daemonology.net):/usr/obj/usr/src/amd64.amd64/sys/GENERIC amd64

CBSD version ( cbsd version ): 13.0.24

[2022-03-30 22:02] olevole commented on #696
**bimport** (and jimport) for archive/images created by **bexport** (and jexport) only

[2022-03-30 22:02] #696 closed, assigned to nobody

[2022-04-03 15:02] benoitc opened #697 "convert a kvm appliance available as a a qcow2"
I converted the qcow2 to a raw image using the qemu-util utility. But how can I can put it in a zfs volume (zvol) and then use this volume to start the image using cbsd?

[2022-04-03 16:25] benoitc opened #698 "removing behyve disk fails"
I tried to remove a disk added using `cbsd bhyve-dsk` but it is failing

[code]

Mandatory info for bug reports:

FreeBSD version ( uname -a ): FreeBSD <hostname>13.0-RELEASE-p8 FreeBSD 13.0-RELEASE-p8 #0: Tue Mar 15 09:36:28 UTC 2022     root@amd64-builder.daemonology.net:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ): 13.0.28

[2022-04-04 09:36] olevole commented on #697
Answered here:  https://t.me/cbsdofficial/23262

[2022-04-04 09:36] #697 closed, assigned to nobody

[2022-04-04 17:36] olevole commented on #698
How did you add this disk? This entry ( /dev/zvol/zroot/vm/utm_disk0.vhd ) is not common for CBSD. Common entry:

![image](https://user-images.githubusercontent.com/926409/161599767-9e3f4a13-4d9b-412c-8b3b-fc9cc9475a40.png)

Entries like '/dev/' (full/realpath) typical only for 'raw' devices, not ZVOL.

Please share full 'how-to repeat'  instruction.

[2022-04-05 02:39] JEAholding commented on #672
I'm back...

I upgraded...
cbsd --version
13.0.26

==========================================================
Testing & CBSD config I performed.

1.
I took off from /etc/ssh/sshd_config
1 (parameters) and it began to work...

PasswordAuthentication yes

and it began to CONNECT...

2.
cbsd node mode=add node=[REMOTE_LOCAL_IP] port=[REMOTE_LOCAL_PORT]
Type cbsd Password
&
After connecting [ERROR]
/u

[2022-04-05 09:00] olevole commented on #672
Hello. At the moment I can't test multi-node operations (temporary loss of infrastructure for development).

If we talk about manual migration, then the virtual machine for CBSD is an entry in:

~cbsd/var/db/local.sqlite:
[code]

Everything else is in the ~cbsd/jails-data/**VM**-data directory   (disks or symlink to zvol ) and ~cbsd/jails-system/**VM**/  directory.

As you noted earlier, these dir

[2022-04-05 11:01] benoitc commented on #698
i created the disk using dd and then attached it to a vm using the /dev/.. path as dsk_path. resetting the whole install is not an issue right now but I am still unsure how I can use an image and put it in sparse zvol. What is the supported way for it?

[2022-04-05 11:53] olevole commented on #698
I wrote a short script how to do it

[code]

[2022-04-05 11:53] olevole commented on #698
![image](https://user-images.githubusercontent.com/926409/161748188-9eefb382-180e-412d-b9d4-cb6ebb38dc4a.png)

[2022-04-06 07:01] aeifn opened #699 "Show remaining bhyve RAM"
[code]

[2022-04-06 07:19] olevole commented on #699
Nice stats for `cbsd summary` ?

[2022-04-06 07:27] aeifn commented on #699
Answer to the question: "How many more RAM bhyve can consume without overcommitting"

[2022-04-06 07:38] olevole commented on #699
I don't think we can introduce (and use) memory overcommit statistics. At least until the bhyve becomes a backend for virtio-baloon. By default (without **wired** options), VM consumes a minimum of memory (on demand), but it never frees its memory. At the moment, the policy of hosters: never create virtual machines that exceed the amount of physical RAM.

Adding warning and check when creating a n

[2022-04-06 07:55] aeifn commented on #699
I mean just formal overcommit, not actual - to comply with the _policy_.
`cbsd summary` does not provide sum of memory dedicated to running VMs.

[2022-04-06 11:25] #699 closed, assigned to nobody

[2022-04-06 11:56] mekanix opened #700 "Missing nodeip6pool"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
FreeBSD hal9000.meka.rs 13.0-RELEASE-p11 FreeBSD 13.0-RELEASE-p11 #0: Tue Apr  5 18:54:35 UTC 2022     root@amd64-builder.daemonology.net:/usr/obj/usr/src/amd64.amd64/sys/GENERIC  amd64

CBSD version ( cbsd version ):
13.0.28

When using DHCPv6, either alone or as DHCP,DHCPv6, I get error instead of address `^[[0;35mno nodeip6pool^[[0m

[2022-04-06 12:14] mekanix commented on #700
OK, this error means I should initenv-tui and set it up. But what is the format for nodeip6pool in that form?

[2022-04-06 12:18] olevole commented on #700
Format is same as `nodeippool`: network/prefix  ( use ',' for multiple network ). E.g:

![image](https://user-images.githubusercontent.com/926409/161972869-2edf7f94-b398-48f0-af1e-a9845aeff323.png)

[2022-04-06 12:20] olevole commented on #700
When you use IPv6, `nodeip6` and `nodeip6pool` should be initialized. Type:

`cbsd dhcpdv6` to check

[2022-04-06 12:25] olevole commented on #700
Also available via 'initenv' by config file, e.g. CBSD puppet module: https://github.com/cbsd/puppet-cbsd/blob/master/manifests/initenv.pp

where initenv template: https://github.com/cbsd/puppet-cbsd/blob/master/templates/initenv.conf.erb

So my CBSD env can be described in yaml via Puppet:

[code]

[2022-04-06 12:35] mekanix commented on #700
Perfect, thank you! Do you want us to update the docs before closing this ticket, as I couldn't find example for nodeip6pool, I'm sure it would benefit others to have an example.

[2022-04-06 13:23] olevole commented on #700
Depends on where to update ;-)
For now, we need to freeze the main (www.bsdstore.ru) site. Let's update cbsd.io ;-)

With next CBSD release i will change WWW to https://cbsd.io

[2022-04-06 18:02] #700 closed, assigned to nobody

[2022-04-10 17:45] Tectu opened #702 "VM profile question"
I have a question regarding the VM profile when creating a new bhyve VM. I'm not sure whether maybe I'm just simply not understanding this properly.

Basically I found myself in the need to create a FreeBSD 14.0 i386 VM. As I'm used to I fired up `cbsd bconstruct-tui`. However, the dialog appears to force me to select a profile from the existing profiles list. But none of the existing profiles mad

[2022-04-10 19:06] olevole commented on #702
A profile is just pre-configured (sometimes - specific to a particular OS) settings.

The concept of profiles is also good because it describes the registration and naming of VM/images.

However, the CBSD has rich customization possibilities: you can create your own profiles (or even overwrite official profiles!) if you create a profile file in the directory **~/cbsd/etc/** directory ( do not conf

[2022-04-10 19:06] #702 closed, assigned to nobody

[2022-04-10 20:24] Tectu commented on #702
Thank you for your reply - I understand!

Is there a way to keep custom profiles at some different location (eg. in my user's home directory) and have CBSD look for them? Or explicitly telling CBSD to find more profiles at a specific location?

[2022-04-10 20:43] olevole commented on #702
Сurrently only these paths are used for lookup profiles (vm-XXX-.conf)  (in the appropriate order):
[code]

Perhaps adding a custom path later makes sense.

But it seems to me that a regular Unix symbolic link is a good option? E.g., manage your own profiles in **/root/etc/** directory and create symlink to?

[code]

[2022-04-10 20:58] Tectu commented on #702
Would the profile look-up by any chance be recursive so that I could at least symlink an entire directory?

[2022-04-10 21:14] olevole commented on #702
No,its per file solution.

Well, that makes sense ( configure additional custom directory to lookup profiles) - I keep forgetting that some people don't use Ansible/Puppet/Chef/Salt/.. ;-)

Can you create new feature request with the right wording?

[2022-04-10 21:30] Tectu opened #703 "Custom profiles directory location"
This is an official feature request based on the discussion of #702.

It would be awesome if CBSD would provide the ability to specify one or more custom locations for profile lookups. Personally, I'd like to be able to create a directory with custom profile somewhere in my user's home directory and have CBSD parse them as well.

I'm not sure what is the best approach to stay within the CBSD philo

[2022-04-10 21:33] Tectu commented on #702
Gladly! -> #703

I don't only  use CBSD for "server" purposes. I'm a developer. Part of my activities are developing C/C++ libraries. I use CBSD on all my desktops as I need a lot of different platforms and environments to test on. Sometimes, when a user of a library reports an issue, I quickly spin up a VM via CBSD to reproduce the environment reported by the user.
Maybe this helps to understand

[2022-04-10 21:57] olevole commented on #702
@Tectu Thx! In fact, I am very happy when users describe use cases and what they need. Discussions like this provide a broader view, and this kind of information has a significant impact on flexibility. And this is a way to improve the project as a whole.

ps:  I use CBSD mostly in a similar job (a lot of R&D+QA that requires different OSes). However, all my custom images are **cloud images** (e.g

[2022-04-10 22:02] Tectu commented on #702
That is very much like-wise.
For example, I have actually never looked into the "cloud images" aspect of CBSD. Everything that contains the term "cloud" immediately makes me go "ewh".
I like to run stuff on my own infrastructure whenever possible. But maybe I should have a look at this as the R&D+QA aspect you're talking about very much applies to my end too.

[2022-04-10 23:00] olevole commented on #702
Wait.. You have been using CBSD for several years and have not tried cloud images ;-/ ? This is one of the strengths of CBSD/bhyve.

I have a similar relationship with the 'cloud' word: this is a synonym for the 'pain' for me ;-) And I'm waiting for a new era - 'cloudless technologies' era. Sounds like 'painless', 'technology without pain'. But in CBSD, cloud images are images that use the https:/

[2022-04-11 01:36] lnxsrt commented on #695
I'm also having issues on reboot or restart of vnet jails. But, mine do have eth0 interface in the jail. The issue is that the rc.conf output from CBSD doesn't put the ifconfig_eth0 line in the correct order.

CBSD generates this...
`ifconfig_eth0="192.168.1.28/24 inet up"`

It should have generated this...
`ifconfig_eth0="inet 192.168.1.28/24 up"`

[2022-04-11 11:58] Tectu commented on #702
Yes, I'm that idiot :D

What you're showing me here is pretty intriguing and I should indeed have looked at this earlier.
However, I'm currently still not sure where the "cloud" aspect comes in. Is this (in your/my case) purely related to the `cloud-init` technology? i.e. I can use this also locally?

One of the (many) things on my CBSD related ToDo list is figuring out how to spin up VMs from my

[2022-04-11 17:56] olevole commented on #702
Ignorance is strength)

Cloud images  it's just a pre-formed image ( like official FreeBSD image https://download.freebsd.org/releases/VM-IMAGES/13.0-RELEASE/amd64/Latest/ ), nothing else.

What you want is achieved in CBSD using cloud images + API: https://www.bsdstore.ru/en/cbsd_api_ssi.html

^^ An example of a multi-node cluster and a workstation as a thin client. For example, when I create a v

[2022-04-11 18:00] olevole commented on #692
start of discussion: https://t.me/cbsdofficial/23164 + https://t.me/cbsdofficial/23167 ...

[2022-04-11 18:00] #692 closed, assigned to olevole

[2022-04-11 18:03] olevole commented on #693
it's not a mistake. You are advised to first look at the result before applying and performing a critical operation

[2022-04-11 18:14] olevole commented on #695
Most likely this is a race condition with parallel search and creation of `epair` pairs. In the latest CBSD version (13.0.28), `boot_delay` should affect this problem (this is work-around, not a solution of the problem). Please check **boot_delay** settings in CBSD >= 13.0.28:

[code]

When boot_delay=0, jails(and bhyve)  will automatically start with an incremental delay - nothing to do and your

[2022-04-30 14:23] #693 closed, assigned to olevole

[2022-04-30 14:25] olevole commented on #703
done: [00c1356](https://github.com/cbsd/cbsd/commit/00c1356cd43c0973180b739ca42ab1ca60a0b9fc)

will be available in 13.1.0-RELEASE.

Location can be specified via ~cbsd/etc/bhyve-default-default.conf config file or via `extra_profile_dir=`, e.g.:
[code]

[2022-04-30 14:25] #703 closed, assigned to olevole

[2022-05-02 23:29] olevole commented on #698
if the issue is still relevant please write all commands from scratch to reproduce error, just like I did below. I cannot reproduce the problem:

![image](https://user-images.githubusercontent.com/926409/166342200-aa392e59-114e-4d49-8d49-d88b03f8577b.png)

[2022-05-02 23:29] #698 closed, assigned to olevole

[2022-05-03 10:43] olevole commented on #689
will be available in 13.1.0-RELEASE.

To test before release:
[code]

PS: the fix will only apply to newly added rules

Thanks

[2022-05-03 10:43] #689 closed, assigned to olevole

[2022-05-03 10:46] Peter2121 commented on #689
Sorry, what does it mean?

[2022-05-03 10:55] olevole commented on #689
old records IN SQLite3 keep IP address (of nodeip). After fix,  new records saved as '0' (for `inaddr` fields) and always cast to $nodeip upon apply.

[2022-05-03 11:28] olevole commented on #515
closed: unfortunately, at the moment I have no options for solving this problem due to the huge number of cases where automation is dangerous.
In the case when the environment is created from a snapshot (no matter who created it), automation is not able to decide whether the user needs it or not. I think this is one of those cases where it's best to leave the resolution of this situation up to the

[2022-05-03 11:28] #515 closed

[2022-05-23 13:00] Tectu opened #706 "Jail import/export question"
I'm in need to migrate a couple of jails from one host to another. The hosts are not setup to communicate to each other via the CBSD node management.
Instead, I'm looking at `jexport` and `jimport`. However, from the documentation it's not clear to me what exactly is contained in the exported image.

Does the exported image contain the entirety of the jail with CBSD configuration (eg. the stuff on

[2022-05-23 20:33] olevole commented on #706
jexport packs only the data that CBSD knows about. Namely:

~cbsd/jails-data/<env>-data -  this is **rootfs** of the jail - this is the most important part as it is the container's file system itself.
~cbsd/jails-system/<env> - this is CBSD-only/related settings (RACCT, fstabs, traffic stats.

cbsd will not serve external volumes - you need to manage/sync it yourself.

By default, all data from ja

[2022-05-23 20:33] #706 closed, assigned to nobody

[2022-05-23 21:01] Tectu commented on #706
Thank you for your quick & precise answer!

May I suggest to update the documentation to reflect this information? I think this would be very handy for others down the road :)

[2022-05-23 21:09] olevole commented on #706
Unfortunately, I'm very busy right now and can't improve the documentation: also, as a debt, the transition to the https://cbsd.io domain + MkDocs engine.

But I know that the CBSD documentation needs to be improved in general, and a good book needs to be written ;-) Reality does not allow me to do this yet.

[2022-06-15 18:52] Tectu commented on #552
Just wanted to report back with an update on this: Today I configured & installed a Windows 11 VM. I encountered the same issue again: Without manually assigning a correctly defined VM CPU topology the Windows VM only reported 2 cores being available although `vm_cpus` was set to `8`.

[2022-06-15 19:16] olevole commented on #552
Unfortunately, I don't know what we can improve here for the user. Theoretically, for Windows profiles, we can offer an alternative default topology(???). But perhaps it will be something like a [POLA](https://docs.freebsd.org/en/books/handbook/glossary/#pola-glossary), where the user can expect the same behavior from the CBSD. Any thoughts?

@Stefar77 sorry for the call, but you are an experience

[2022-06-16 06:44] olevole commented on #552
Stefan via TG: https://t.me/cbsdofficial/24068

[2022-06-20 09:51] olevole commented on #695
@Peter2121 the problem was in incorrect blocking when starting an interface search at the same time.

Please reopen this issue if the bug still relevant for **13.1.1**+

My test:

1) `check.sh`:
[code]
2) `test.sh`:
[code]

3) `./test.sh`:
[code]

[2022-06-20 09:51] #695 closed, assigned to olevole

[2022-06-20 10:11] Peter2121 commented on #695
Very good news, thanks a lot!

[2022-06-21 19:37] Tectu commented on #552
I didn't mean to complain. I merely wanted to update this issue for future readers so somebody looking for this type of symptom via a web search engine now has a better chance of ending up here due to the notion of "Windows 11".

I assume you'd have to generate this profile "dynamically" for each CBSD host individually, right? The topology depends on the underlying hardware (unless I misunderstood

[2022-07-13 15:03] Eresko opened #707 "error"
Mandatory info for bug reports:

FreeBSD govno 13.1-RELEASE FreeBSD 13.1-RELEASE releng/13.1-n250148-fc952ac2212 GENERIC amd64

[root@ /usr/local/cbsd/tools]# cbsd version
zfs_enable: YES -> YES
13.1.1

[root@ /usr/local/cbsd/tools]# cbsd jstart
zfs_enable: YES -> YES
/usr/jails/ver: 13.1.3a: not found
Warning: CBSD is 13.1.1 while workdir initializated for . Please re-run: env workdir=/usr/jails

[2022-07-13 15:12] olevole commented on #707
????

[2022-07-13 15:14] Eresko commented on #707
I followed the instructions, but at the same time this, I can not help?

[2022-07-13 15:18] Eresko commented on #707
[root@ /usr/local/cbsd/tools]#  env workdir=/usr/jails cbsd initenv
/usr/jails/ver: 13.1.3a: not found
Warning: CBSD is 13.1.1 while workdir initializated for . Please re-run: env workdir=/usr/jails cbsd initenv
/usr/local/cbsd/tools/initenv: -f: not found

[2022-07-13 15:23] olevole commented on #707
How did you install the CBSD? There is no such version: `13.1.3a`.

Checkout https://www.bsdstore.ru/en/installing_cbsd.html

and/or try this:

1) `pkg remove cbsd`
2) `rm -rf /usr/local/cbsd`
3) `pkg update -f`
4) `pkg install -y cbsd`
5) `env workdir=/usr/jails /usr/local/cbsd/sudoexec/initenv`

[2022-07-14 07:30] #707 closed, assigned to nobody

[2022-08-29 18:14] 4xoc opened #709 "kernel and user space version mismatch"
FreeBSD version ( uname -a ): FreeBSD red-queen.4xoc.com 13.1-RELEASE-p1 FreeBSD 13.1-RELEASE-p1 GENERIC amd64

CBSD version ( cbsd version ): 13.1.3

I'm trying to update some jails to a new version of the base jail but for some reason a few jails don't upgrade properly. Within the jail kernel and user space version are different from the host/basejail. All jails are based of a read-only mount of

[2022-08-29 20:39] olevole commented on #709
Please remove any 'UNAME*' records from:

/etc/csh.cshrc
/etcmake.conf
/etc/profile

( in jail )
Its old work-around ( see: grep ^20140930 -A19 /usr/ports/CHANGES ) which is no longer needed (and removed from the CBSD). But the old records remain.

[2022-08-29 20:46] olevole commented on #709
If that doesn't help, please check/post **baserw** settings ( RO base or RW ):

[code]

[2022-08-30 05:58] 4xoc commented on #709
Thanks, removing the UNAME vars solved it for me.

[2022-08-30 05:58] #709 closed, assigned to olevole

[2022-09-17 01:32] JEAholding commented on #687
I was thinking of this feature for my use I thought that the zvol selection in the construct-tui was for this purpose BUT it seems it's to select a jail as a source for installation. Anyways I'll second this feature.... Currently, my method which is similar to the above.

@Tectu
Option 1:
zfs create (hdd_2)
zfs send | zfs receive
and
update rcconf OR junregister/jregister = that works

Options 2:

[2022-09-24 12:04] BigB84 opened #710 "[DragonflyBSD] jconstruct-tui hangs on Applying skel dir"
Mandatory info for bug reports:

DragonflyBSD version ( uname -a ):
`6.2-RELEASE DragonFly v6.2.2-RELEASE`

CBSD version ( cbsd version ):
`13.1.1`

Steps:

- Installed dfly using installer from official website.
- Installed cbsd using `pkg install cbsd`
- Completed `cbsd init`
- Enabled pf and basic ruleset allowing traffic on loopback, in, out and ssh
- Reboot, cbsd daemon enabled. Lets create s

[2022-09-24 21:26] olevole commented on #710
**> FIRST GLITCH: cbsd jconstruct-tui couldn't find bsdconfig so I blindly copied it from this repo: https://github.com/cbsd/cbsd_useful_stuff**

Yes,  this is described in https://github.com/cbsd/cbsd/blob/develop/README.DragonflyBSD.md but it may be necessary to display a separate message in post-message for DragonflyBSD platform only ( or add into DFLY-ports ). We have to think about it ;-)

**

[2022-09-24 22:41] olevole commented on #710
upd: **THIRD GLITCH** fixed. To apply - fetch changes from main git:

[code]

[2022-09-25 11:27] tuxillo commented on #710
I'll check and let you know.

[2022-09-25 11:55] tuxillo commented on #710
Next week the newer version will be available in DPorts.

[2022-09-25 16:51] olevole commented on #710
**SECOND GLITCH** fixes: https://github.com/cbsd/cbsd/commit/ca4b36d3d1b28f4907257f2c40d205a49a63446f

to fix: please apply latest changes from main git:
[code]

this fixes the commands to get the container base: `cbsd srcup` , `cbsd world`

fixes will be included in the next release - **13.1.15**.
Please re-open issue if problem remain  after applying the patches.

Thanks.

[2022-09-25 16:51] #710 closed, assigned to olevole

[2022-10-11 12:47] almmos commented on #672
Hi all, first time here.

@JEAholding regarding your "Disconnect" problem.
Check on both node you want to be connected:
`ls -la ~cbsd/.ssh/ | grep socket`
It must be something ike this:
`drwx------   2 cbsd  cbsd    3 Oct  8 00:53 sockets`

I have had the same "Disconnect" problem for some reason - not proper ownership for socket folder - after an CBSD upgrade.
I have executed following command:
`

[2022-10-11 13:27] olevole commented on #672
yes - that could be one of the reasons, but the scripts should set the correct mode: https://github.com/cbsd/cbsd/blob/develop/misc/mtree#L17

[2022-10-11 13:52] almmos commented on #672
From what I can see, the script you have provided check for exist and set the mode.
My problem was related to ownership. Don't know why!

If I think a little more the `cbsd initenv` I use to run as root. So if for some reason the folder in question do not exists, it will be created by `mkdir -p ${cbsd_workdir}/.ssh/sockets` (line no 19) and the mode will be set 700 for it. But the owner will be ro

[2022-10-20 15:29] lbartoletti opened #712 "[Request] jls: show only running jails"
Mandatory info for bug reports:

Not a bug, but a feature request:

something like `cbsd jls running=1` My idea, is to display all active and running jails `cbsd jls header=0 display=jname running=1` (or status=1)

FreeBSD version ( uname -a ): 13.1

CBSD version ( cbsd version ): 13.1.15

[2022-10-20 15:30] lbartoletti opened #713 "[Request] jrestart --all"
Mandatory info for bug reports:

Related to https://github.com/cbsd/cbsd/issues/712
Can we have an option to restart all running jails, please?

FreeBSD version ( uname -a ): 13.1

CBSD version ( cbsd version ): 13.1.15

[2022-10-20 15:32] lbartoletti commented on #713
Today I run:

`cbsd jls header=0 display=jname,status | awk '/ On/ {print $1}' | xargs cbsd jrestart`

which does not works and returns for each jail:
`no such jail: ...`

[2022-10-20 17:21] olevole commented on #712
All states are in the SQLite3 DB, so as a hardcore-workaround, you can use a SQL query ;-)

[code]

 E.g.:
[code]

[2022-10-20 17:22] olevole commented on #713
All states are in the SQLite3 DB, so as a hardcore-workaround, you can use a SQL query ;-)

[code]

 E.g.:
[code]

[2022-10-20 17:22] lbartoletti commented on #712
yes :)
but an "alias" could be cool :)

[2022-10-26 09:50] BigB84 opened #715 "vnet jails has no gateway - automatically created bridge has no address"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
`13.1-RELEASE`

CBSD version ( cbsd version ):
`13.1.15'

Hi,
thanks for creating CBSD it is so helpful!

I have only vnet jails and NAT enabled.

I couldn't find in docs information on how to automatically assign address for created bridge, because without  manually running `ifconfig bridge1 inet x.x.x.x netmask x.x.x.x` jails gateway

[2022-10-26 10:56] olevole commented on #715
There are several options. Partially manual - initialize the bridge yourself (via rc.conf), e.g.:

1)

[code]

So, CBSD vnet jail can be created with:
[code]

Also, you can set 'ci_gw4' via global config file per host:
[code]
(see defaults ~cbsd/etc/defaults/jail-freebsd-default.conf ).
Hint: most likely, it is enough to redefine only '**ci_gw4**', without `default_ci_gw4`

2) If I'm not mistaken,

[2022-10-29 09:28] #715 closed, assigned to nobody

[2022-10-29 10:45] olevole commented on #712
@lbartoletti Can you test new revision ?
[code]

e.g.:
[code]

[2022-10-29 21:36] olevole commented on #713
In fact, for most of the command ( like 'jexec', 'jstop', 'jstart' ... ) CBSD supports for mask as jname, e.g.:

cbsd jexec jname='*' date

'jrestart' is no exception here. The only problem is that the command did not process the jail status (and started all containers, even if they were in off status)

Also, I have documented your case. Use on health)

To test:

[code]

[2022-10-29 21:36] #713 closed, assigned to olevole

[2022-10-29 21:37] #712 closed, assigned to olevole

[2022-10-30 09:58] mekanix opened #716 "Always use the same bridge. Is it possible?"
Mandatory info for bug reports:

FreeBSD version ( uname -a ):
FreeBSD gmekic-l13-rmt.meka.rs 14.0-CURRENT FreeBSD 14.0-CURRENT #1 main-n258914-010175a76d06: Sat Oct 29 19:52:04 CEST 2022     meka@gmekic-l13-rmt.meka.rs:/usr/obj/usr/src/amd64.amd64/sys/GENERIC amd64

CBSD version ( cbsd version ):
13.1.15

Is it possible to configure bridge0 via /etc/rc.conf and make CBSD use it no matter what? Fo

[2022-10-30 18:17] olevole commented on #716
If I understand you correctly, it's only about jail and vnet ?

vnet jails can configure each virtual interface where you can manually fix the uplink interface instead of 'auto':

cbsd jconfig -> jailnic -> nic1 -> nic_parent -> manual -> SET TO 'bridge0'

Of course, bridge0 must exist.

![image](https://user-images.githubusercontent.com/926409/198894697-e226a3ce-48ea-4886-b208-4cf0043ba632.png)

[2022-10-30 19:02] mekanix commented on #716
That's great! I found it in jconstruct not jconfig, but that's fine. I saw that if I just generate the .jconf file there is no mention of bridge interface in it. I assume it is in /tmp/tmp.<something> file. Any chance that I can change nic_parent via jset or similar utility?

[2022-10-31 07:33] olevole commented on #716
if you don't have multiple vnet (virtual) interfaces for jail, then the usual 'interface=' parameter should also work for vnet:

[code]

(or interface= in .jconf )

[2022-10-31 12:56] mekanix commented on #716
There's something weird. One jail respects the `interface=` set throgh `jset`, one doesn't. The one that doesn't work has 2 addresses: IPv4 and IPv6. Does that matter?

[2022-11-01 21:04] mekanix commented on #716
And I guess it does. It works great for a single address, but not with multiple. On jail I have IPv4 and IPv6 static addresses it doesn't work. Any idea if we would break stuff if `interface=` for vnet jails can be applied to all epairs of that jail?

[2022-11-01 23:39] mekanix commented on #716
I'm wrong,my code for reggae was wrong. https://github.com/cbsd/reggae/pull/263

[2022-11-01 23:39] #716 closed, assigned to nobody

[2022-11-02 18:03] lbartoletti commented on #712
Nice! Thanks!

[2022-11-02 18:07] lbartoletti commented on #713
Perfect!

[2022-11-10 01:14] olevole commented on #687
FYI: [this demo will help a little](https://youtu.be/kC_xyTbRyl4) to understand the concept of workdir/clustering ;-)

[2022-11-12 15:32] Tectu commented on #687
This is awesome! Great work, keep it up! :)

I still have to re-structure my CBSD infrastructure at some point tho... I'm still not operating in the most efficient manner.

[2022-11-28 19:57] BigB84 opened #717 "[DragonflyBSD] errors installing package manager, base has no pkg installed by default."
Mandatory info for bug reports:

DragonflyBSD version ( uname -a ):
`DragonFly bsd 6.2-RELEASE DragonFly v6.2.2-RELEASE`

CBSD version ( cbsd version ):
`13.1.4`

but - pkg info cbsd - says:
`Version        : 13.1.14`

Hi,

thanks for creating cbsd it's priceless!

I'm not sure where should I post this issue, as CBSD doesn't officially support dfly, however If i saw correctly, base for jails was f

[2022-11-28 21:12] olevole commented on #717
This requires some investigation. But if you want to have a /usr/obj in RW within jail, you can:

1) use `baserw=1` type of jail  ( via TUI or: `cbsd jcreate jname=test1 baserw=1 runasap1 pkg_bootstrap=0` )
2) Use nullfs mount, e.g:
[code]

where `test1` - jail name. This will mount the /var/jail-obj directory from the host at the time of the start of the container via nullfs/overlay FS.

( check